﻿@model ReportingImage.ViewModels.UserViewModels
@{
    ViewBag.Title = "Create";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"> Add User</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="~/User" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>


        </div>
        <div class="panel-body">
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal box-body">
                <hr />

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="form-group">
                    @Html.LabelFor(model => model.username, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.dept_id, "Dept Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.dept_id, (SelectList)ViewBag.deptId, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })

                        @Html.ValidationMessageFor(model => model.dept_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.parent_id, "Parent Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.parent_id, (SelectList)ViewBag.parentId, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })

                        @Html.ValidationMessageFor(model => model.parent_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.previlage_id, "Privilege", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.previlage_id, (SelectList)ViewBag.privilege_id, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })

                        @Html.ValidationMessageFor(model => model.previlage_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="divMinApe" hidden="hidden">
                    @Html.LabelFor(model => model.min_ape, "Min APE", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.min_ape, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.min_ape, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" id="divMaxApe" hidden="hidden">
                    @Html.LabelFor(model => model.max_ape, "Max APE", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.max_ape, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.max_ape, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.active_directory, "Windows Authentication", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-lg-10">
                        @Html.CheckBoxFor(model => model.active_directory, new { @class = "form-check", @onchange = "checkWindowsAuth(this)", @checked = "true" })
                        @Html.ValidationMessageFor(model => model.active_directory, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.password, new { @type = "password", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        var chkBox = document.getElementById('active_directory');
        if (chkBox.checked) {
            document.getElementById("password").disabled = 'false';
        } else {
            document.getElementById("password").disabled = '';
        }

        $('#previlage_id').change(function () {
            if ($("#previlage_id").val() == "2")
            {
                document.getElementById("divMinApe").style.display = 'block';
                document.getElementById("divMaxApe").style.display = 'block';
            }
            else
            {
                document.getElementById("divMinApe").style.display = 'none';
                document.getElementById("divMaxApe").style.display = 'none';
            }
        });
    });
</script>
<script>
    function checkWindowsAuth(ele) {

        var chkBox = document.getElementById('active_directory');
        if (chkBox.checked) {
            document.getElementById("password").disabled = 'false';
        } else {
            document.getElementById("password").disabled = '';
        }
    }
</script>