﻿@model IEnumerable<ReportingImage.ViewModels.UserViewModels>

@{
    ViewBag.Title = "User";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8">
                @*<i class="fa fa-bar-chart-o fa-fw"></i>*@

                <a data-toggle="tooltip" title="Add User" href="@Url.Action("Create", "User", new {  })" class="btn btn-default"><i class="fa fa-plus"></i> Add User</a>
            </div>
            <div class="col-lg-4" style="text-align:right">

                @*<input type="submit" value="Add Privilege" class="btn btn-info" name="submitButton" />*@
            </div>

        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                @*<div style="overflow-x: scroll !important;">*@
                <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("User Name")
                            </th>

                            <th>
                                @Html.DisplayName("Department")
                            </th>
                            <th>
                                @Html.DisplayName("Parent Id")
                            </th>
                            <th>
                                @Html.DisplayName("Privilege")
                            </th>
                            <th>
                                @Html.DisplayName("Create Date")
                            </th>
                            <th>
                                @Html.DisplayName("Create By")
                            </th>
                            <th>
                                @Html.DisplayName("Update Date")
                            </th>
                            <th>
                                @Html.DisplayName("Update By")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dept_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.parent_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.privilege_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_by)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_by)
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="Edit" href="@Url.Action("Edit", "User", new { id=item.id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                                    @{
                                        if (Convert.ToBoolean(item.is_login))
                                        {
                                            <a data-toggle="tooltip" title="Logout" href="@Url.Action("ChangeLogStatus", "User", new { id = item.id, is_login = item.is_login })" class="btn btn-danger"><i class="fa fa-toggle-off"></i></a>
                                        }
                                        else
                                        {
                                            <a data-toggle="tooltip" title="Login" href="@Url.Action("ChangeLogStatus", "User", new { id = item.id, is_login = item.is_login })" class="btn btn-success"><i class="fa fa-toggle-on"></i></a>
                                        }
                                    }
                                    <button class="btn btn-danger" type="submit" name="submitButton" value="delete" data-toggle="modal" data-target="#@item.id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <div id="@item.id" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content" style="width:700px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    @*<h4 class="modal-title" style="width:100px; background-color:none"></h4>*@
                                                    Confirmation Delete
                                                </div>
                                                <div class="modal-body">
                                                    Delete Data @Html.DisplayFor(modelItem => item.username) ??
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-toggle="tooltip" title="Delete" href="@Url.Action("Delete", "User", new { id = item.id })" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>

                @*</div>*@

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /.panel-body -->
</div>



<script src="~/Scripts/CountDown/countdown.login.js"></script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            //scrollY: 400,
            //scrollX: 500
        });
    });
</script>
