﻿@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.UserViewModels>

@{
    ViewBag.Title = "Index";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8">
                @*<i class="fa fa-bar-chart-o fa-fw"></i>*@

                <a data-toggle="tooltip" title="Add User" href="@Url.Action("Create", "User", new {  })" class="btn btn-default"><i class="fa fa-plus"></i> Add User</a>
            </div>
            <div class="col-lg-4" style="text-align:right">

                @*<input type="submit" value="Add Privilege" class="btn btn-info" name="submitButton" />*@
            </div>

        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                @*<div style="overflow-x: scroll !important;">*@
                <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("User Name")
                            </th>

                            <th>
                                @Html.DisplayName("Department")
                            </th>
                            <th>
                                @Html.DisplayName("Parent Id")
                            </th>
                            <th>
                                @Html.DisplayName("Privilege")
                            </th>
                            <th>
                                @Html.DisplayName("Create Date")
                            </th>
                            <th>
                                @Html.DisplayName("Create By")
                            </th>
                            <th>
                                @Html.DisplayName("Update Date")
                            </th>
                            <th>
                                @Html.DisplayName("Update By")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Content.Count; i++)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].dept_id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].parent_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].privilege_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].created_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].created_by)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].updated_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Content[i].updated_by)
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="Edit" href="@Url.Action("Edit", "User", new { id=Model.Content[i].id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                                    <button class="btn btn-danger" type="submit" name="submitButton" value="delete" data-toggle="modal" data-target="#@Model.Content[i].id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <div id="@Model.Content[i].id" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content" style="width:700px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    @*<h4 class="modal-title" style="width:100px; background-color:none"></h4>*@
                                                    Confirmation Delete
                                                </div>
                                                <div class="modal-body">
                                                    Delete Data @Html.DisplayFor(modelItem => Model.Content[i].username) ??
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-toggle="tooltip" title="Delete" href="@Url.Action("Delete", "User", new { id = Model.Content[i].id })" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                @*</div>*@

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                    Showing @String.Format("{0:C0}", Model.CurrentPage).Replace("$", "") to @Model.PageSize of @String.Format("{0:C0}", Model.TotalRecords).Replace("$", "") entries
                </div>
            </div>
            <div class="col-sm-6">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                    <ul class="pagination">
                        @for (int j = Model.CurrentPage - 3; j <= Model.TotalPages; j++)
                        {
                            if (j > 0)
                            {
                                var pg = Model.CurrentPage == j ? "active" : "";
                                if (j == Model.CurrentPage - 3)
                                {
                                    <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                        <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=1">&laquo;</a>
                                    </li>
                                }
                                <li class="paginate_button @pg" aria-controls="dataTables-example" tabindex="0">
                                    <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=@j">@String.Format("{0:C0}", j).Replace("$", "")</a>
                                </li>
                                if (j == Model.CurrentPage + 3)
                                {
                                    <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                        <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=@Model.TotalPages">&laquo;</a>
                                    </li>
                                    break;
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.panel-body -->
</div>





<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: false,
            info: false,
            filter: false
        });
    });
</script>
