﻿@model ReportingImage.ViewModels.UserViewModels
@{
    ViewBag.Title = "Edit";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.created_by)
    @Html.HiddenFor(model => model.created_date)
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-0"></div>
                <div class="col-lg-12" style="text-align:left">
                    Profile
                </div>
            </div>


        </div>
        <div class="panel-body">
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal box-body">
                <hr />

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="form-group">
                    @Html.LabelFor(model => model.username, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.active_directory, "Windows Authentication", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.active_directory, new { @class = "form-check", @onchange = "checkWindowsAuth(this)" })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.password, new { @type = "password", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group">
                    @Html.LabelFor(model => model.previlage_id, "Privilege", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.previlage_id, (SelectList)ViewBag.privilege_id, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.previlage_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                @{
                    if (ViewBag.privilege_id.SelectedValue == 3 || ViewBag.privilege_id.SelectedValue == 4)
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.bucket, "Bucket", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.CheckBox("bucket", Model.bucket ?? false, new { @class = "form-check" })
                                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                }*@


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

                    }
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        var chkBox = document.getElementById('active_directory');
        if (chkBox.checked) {
            document.getElementById("password").disabled = 'false';
        } else {
            document.getElementById("password").disabled = '';
        }
    });
</script>
<script>


    function checkWindowsAuth(ele) {
        var chkBox = document.getElementById('active_directory');
        if (chkBox.checked) {
            document.getElementById("password").disabled = 'false';
        } else {
            document.getElementById("password").disabled = '';
        }

    }
</script>
