﻿@model ReportingImage.Models.zUser
    @{
        Layout = null;
    }

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>AXA-Image Reporting System</title>
        <link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/AXA-logo.png")">


        <!-- Bootstrap Core CSS -->

        <link href="@Url.Content("~/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="@Url.Content("~/vendor/metisMenu/metisMenu.min.css")" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="@Url.Content("~/dist/css/sb-admin-2.css")" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="@Url.Content("~/vendor/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        @using (Html.BeginForm())
        { @Html.AntiForgeryToken()
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="login-panel panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-12 "><img src="~/Images/mandiri-axa-logo.png" width="300" /></div>
                                    @*<div class="col-lg-6 "><h3 class="panel-title">Please Sign In</h3></div>*@
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <fieldset>
                                        @if (TempData["Error"] != null)
                                        {
                                            <div class="alert alert-warning">
                                                <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
                                            </div>
                                        }

                                        <div class="form-group ">
                                            <label class="control-label span2">User Name </label><label class="control-label span2 text-danger" style="font:bold"> *</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.username, "", new { @placeholder = "User Name", @class = "form-control" })
                                                <span class="input-group-addon add-on ">
                                                    <div class="fa fa-user"></div>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group ">
                                            <label class="control-label span2">Password </label><label class="control-label span2 text-danger" style="font:bold"> *</label>
                                            <div class="input-group">
                                                @Html.TextBoxFor(x => x.password, "", new { @placeholder = "Password", @class = "form-control", @type = "password" })
                                                <span class="input-group-addon add-on ">
                                                    <div class="fa fa-key"></div>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </div>

                                        @*<div class="checkbox">
                                                <label>
                                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                                </label>
                                            </div>*@
                                        <!-- Change this to a button or input when using this as a form -->
                                        <input type="submit" value="Login" class="btn btn-lg btn-default btn-block" />
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- jQuery -->
        <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.min.js")"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="@Url.Content("~/vendor/metisMenu/metisMenu.min.js")"></script>
        <!-- Custom Theme JavaScript -->
        <script src="@Url.Content("~/dist/js/sb-admin-2.js")"></script>
    </body>