﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewImage.aspx.cs" Inherits="ReportingImage.WebForms.ViewImage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <img alt="" width="700" height="450" src="../Images/AXA.jpg"/>
    </div>
    </form>
</body>
</html>
