﻿@{
    ViewBag.Title = "Dipcad Claim Report";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Created Date From
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddatefrom" class="input-group">
                        @Html.TextBox("receiveddatefrom", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    Created Date To
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddateto" class="input-group">
                        @Html.TextBox("receiveddateto", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Status
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlListRFStatus", (SelectList)ViewBag.ListRFStatus, htmlAttributes: new { @class = "form-control", @placaholder = "-- Select --" })
                </div>
                <div class="col-lg-2">
                    Claim Type
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlListRFClaimType", (SelectList)ViewBag.ListRFClaimType, htmlAttributes: new { @class = "form-control", @placaholder = "-- Select --" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Download as Excel" class="fa fa-download btn btn-primary" style="width:100%" />
                </div>
            </div>
            <div class="row" style="margin-top:10px" hidden>

            </div>
        </div>
    </div>
}

<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: true
        });

    });
    $("#dtreceiveddatefrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dtreceiveddateto").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
</script>