﻿@model ReportingImage.ViewModels.POSListImageViewModel

@{
    ViewBag.Title = "Detail Image";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}

@using (Html.BeginForm("ImagesClient", "POSOpen"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6">List Images</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="~/POSOpen" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <table width="100%" style="font-size:12px" class="table table-striped table-bordered table-hover" id="dataTable-example">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onchange="checkAll(this)" /></th>
                                <th>@Html.DisplayName("File Name")</th>
                                <th>@Html.DisplayName("Document Name")</th>
                                <th>@Html.DisplayName("Create Date")</th>
                                <th>@Html.DisplayName("Source")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.DetailImageViewModels.Count; ++i)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(x => x.DetailImageViewModels[i].Checked)
                                        @Html.HiddenFor(x => x.DetailImageViewModels[i].PolicyNumber)
                                    </td>
                                    @Html.HiddenFor(x => x.DetailImageViewModels[i].FILENAME)
                                    @Html.HiddenFor(x => x.DetailImageViewModels[i].FILEIMAGE_temp)
                                    @Html.HiddenFor(x => x.DetailImageViewModels[i].Extension)
                                    @Html.HiddenFor(x => x.DetailImageViewModels[i].DocumentName)
                                    @Html.HiddenFor(x => x.DetailImageViewModels[i].Source)
                                    @Html.HiddenFor(x => x.DetailImageViewModels[i].FILENAMEORIGIN)
                                    <td>
                                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#@Model.DetailImageViewModels[i].PreviewContentId">
                                            @Model.DetailImageViewModels[i].FILENAME
                                        </button>

                                        <!--MODAL Show File-->
                                        <div id="@Model.DetailImageViewModels[i].PreviewContentId" class="modal fade" role="dialog" style="width:unset; background-color: transparent">
                                            <div class="modal-dialog" style="width:800px">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title" style="background-color:none">Preview Content</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        @if (Model.DetailImageViewModels[i].Extension == "application/pdf")
                                                        {
                                                            <object type="@Model.DetailImageViewModels[i].Extension" data="@Model.DetailImageViewModels[i].FilePath"
                                                                    width="750" height="500"></object>
                                                        }
                                                        else
                                                        {
                                                            <img src="@Model.DetailImageViewModels[i].FilePath"
                                                                 width="750" height="500" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                
                                    <td>@Html.DisplayFor(x => x.DetailImageViewModels[i].DocumentName)</td>
                               
                                    <td>@Html.DisplayFor(x => x.DetailImageViewModels[i].CreatedDate)</td>
                                
                                    <td>@Html.DisplayFor(x => x.DetailImageViewModels[i].Source)</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Button Download-->
            @Html.HiddenFor(x => x.Case_ID)
            @Html.HiddenFor(x => x.PolicyNumber)
            @Html.HiddenFor(x => x.WorkType_id)
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-footer">
                        <button id="btnSubmit" type="submit" class="btn btn-default"><i class="fa fa-download"></i> Download Zip File</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable-example').DataTable({
            responsive: true,
            paging: false
        });
    });

    function checkAll(elm) {
        var checkBoxes = document.getElementsByTagName('input');
        if (elm.checked) {
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].type == 'checkbox') {
                    checkBoxes[i].checked = true;
                }
            }
        }
        else {
            for (var i = 0; i < checkBoxes.length; i++) {
                if (checkBoxes[i].type == 'checkbox') {
                    checkBoxes[i].checked = false;
                }
            }
        }
    };
</script>
