﻿@model ReportingImage.ViewModels.ListPosPolicyPoolViewModels

@{
    ViewBag.Title = "Case List";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @Html.Raw(@TempData["Success"].ToString())
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Date From
                </div>
                <div class="col-lg-4">
                    <div id="dateFrom" class="input-group">
                        @Html.TextBox("txbDateFrom", null, new { @placeholder = "Date From", @class = "form-control" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                    @*<label id="errorDateFrom" class="text-danger" hidden="hidden">This field is required</label>*@
                </div>
                <div class="col-lg-2">
                    Date To
                </div>
                <div class="col-lg-4">
                    <div id="dateTo" class="input-group">
                        @Html.TextBox("txbDateTo", null, new { @placeholder = "Date To", @class = "form-control" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                    @*<label id="errorDateTo" class="text-danger" hidden="hidden">This field is required</label>*@
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-10">
                    @Html.TextBox("policyNumber", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-2">
                    User Assign
                </div>
                <div class="col-lg-10">
                    @Html.DropDownList("AssignTo", (SelectList)ViewBag.ddl2AssignTo, new
               {
                   @class = "form-control"
               })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-offset-2 col-lg-10">
                    <input id="btnSearch" type="submit" value="Search" name="Submit" class="btn btn-primary" onclick="return ValidationFilter()" />
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @*@Html.HiddenFor(x => x.ListPosPolicyPoolOpenViewModels)*@
                    <table width="100%" style="font-size:12px" class="table table-striped table-bordered table-hover" id="dataTable-example">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onchange="checkAll(this)" /></th>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                                <th>
                                    @Html.DisplayName("Case ID")
                                </th>
                                <th>
                                    @Html.DisplayName("Policy Number")
                                </th>
                                <th>
                                    @Html.DisplayName("CIF")
                                </th>
                                <th>
                                    @Html.DisplayName("Source")
                                </th>
                                <th>
                                    @Html.DisplayName("Work Type")
                                </th>
                                <th hidden>
                                    @Html.DisplayName("Category")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Trans Status")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Captured Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Bucket")
                                </th>
                                <th>
                                    @Html.DisplayName("Method")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.ListPosPolicyPoolOpenViewModels.Count; ++i)
                            {
                                <tr>
                                    <td>
                                        @Html.CheckBoxFor(x => x.ListPosPolicyPoolOpenViewModels[i].CHECKED, htmlAttributes: new { @onchange = "ValidationMethod(this)" })
                                    </td>
                                    <td>
                                        <a data-toggle="tooltip" title="Image"
                                           href="@Url.Action("ImagesClient","DipcadClaimPOSAssign",new { case_id = Model.ListPosPolicyPoolOpenViewModels[i].CASE_ID })"
                                           class="btn btn-default">
                                            <i class="fa fa-file-image-o"></i>
                                        </a>
                                    </td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].CASE_ID)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].POLICY_NO)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].CIF)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].SOURCE)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].WORKTYPE)</td>
                                    <td hidden>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].CATEGORY)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].RLS_TRANS)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].CREATE_DATE)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].RLS_CAPTURE_DATE)</td>
                                    <td>@Html.DisplayFor(x => x.ListPosPolicyPoolOpenViewModels[i].BUCKET)</td>
                                    <td>

                                        @Html.DropDownListFor(x => x.ListPosPolicyPoolOpenViewModels[i].METHOD,
                                                (SelectList)ViewBag.ddlMethod, htmlAttributes: new { @class = "form-control", @style = "display: none;" })

                                    </td>
                                    @Html.HiddenFor(x => x.ListPosPolicyPoolOpenViewModels[i].CASE_ID)
                                    @Html.HiddenFor(x => x.ListPosPolicyPoolOpenViewModels[i].POLICY_NO)
                                    @Html.HiddenFor(x => x.ListPosPolicyPoolOpenViewModels[i].CIF)

                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Action
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    Assign To
                </div>
                <div class="col-lg-10">
                    @Html.DropDownList("ddlAssignTo", (SelectList)ViewBag.ddlAssignTo, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @disabled = "disabled" })
                    <label id="errorddlAssignTo" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Remarks
                </div>
                <div class="col-lg-10">
                    @Html.TextArea("remarks", htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px", @disabled = "disabled" })
                </div>
            </div>
            <!--Button Submit-->
            <div class="row" style="margin-top:10px">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="box-footer">
                        <input id="btnSearch" type="submit" value="Submit" name="Submit" class="btn btn-primary" onclick="return ValidationAssign()" disabled/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable-example').DataTable({
            responsive: true,
            paging: false
        });
    });
    $("#dateFrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();

    });
    $("#dateTo").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();

    });

    function checkAll(elm) {
        //var checkBoxes = document.getElementsByTagName('input');
        //if (elm.checked) {
        //    for (var i = 0; i < checkBoxes.length; i++) {
        //        if (checkBoxes[i].type == 'checkbox') {
        //            checkBoxes[i].checked = true;
        //            ValidationMethod(checkBoxes[i]);
        //        }
        //    }
        //}
        //else {
        //    for (var i = 0; i < checkBoxes.length; i++) {
        //        if (checkBoxes[i].type == 'checkbox') {
        //            checkBoxes[i].checked = false;
        //            ValidationMethod(checkBoxes[i]);
        //        }
        //    }
        //}
    };
    function ValidationMethod(elm) {
        //var idx = $(elm).closest("tr").index() + 1;
        //var cbox = $('tr:eq(' + idx + ') td:eq(11) select');
        //if (elm.checked) {
        //    cbox.show();
        //} else {
        //    cbox.hide();
        //}
    }

    function ValidationFilter() {
        //document.getElementById("errorDateFrom").style.display = 'none';
        //document.getElementById("errorDateTo").style.display = 'none';
        //var status = true;
        //if ($("#txbDateFrom").val() == '') {
        //    document.getElementById("errorDateFrom").style.display = 'block';
        //    status = false;
        //}
        //if ($("#txbDateTo").val() == '') {
        //    document.getElementById("errorDateTo").style.display = 'block';
        //    status = false;
        //}
        //return status;
    }
    function ValidationAssign() {
        //document.getElementById("errorddlAssignTo").style.display = 'none';
        //var status = true;
        //if ($("#ddlAssignTo").val() == '') {
        //    document.getElementById("errorddlAssignTo").style.display = 'block';
        //    return false;
        //}
    }
</script>
