﻿@model IEnumerable<ReportingImage.Models.zMenu>
<style>
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #fff;
    }

        ul.breadcrumb li {
            display: inline;
            font-size: 18px;
        }

            ul.breadcrumb li + li:before {
                padding: 2px;
                color: black;
                content: "/\00a0";
            }

            ul.breadcrumb li a {
                color: #0a0a0a;
                text-decoration: none;
            }

                ul.breadcrumb li a:hover {
                    color: #01447e;
                    text-decoration: underline;
                }
</style>
<br />
<ul class="breadcrumb" style="margin-bottom: 0px; padding-bottom: 0px; padding-top: 0px;">
    <li class="fa fa-dashboard"></li>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li><a><b>@Html.DisplayFor(modelItem => item.Menu)</b></a></li>
        }
    }

</ul>
<hr />