﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>Image Reporting System</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Images/AXA-logo.png")">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~//bundles/modernizr")*@
    <title></title>

    <link href="~/dist/css/w3.css" rel="stylesheet" />
    <link href="~/dist/css/wizardsteps.css" rel="stylesheet" />
    <script src="~/dist/js/moment.min.js"></script>
    <link href="~/vendor/custome/checkboxradio.css" rel="stylesheet" />

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/dist/css/responsive.dataTables.min.css" rel="stylesheet" />
    @*<link href="~/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    <link href="~/dist/css/Custome.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- DataTables CSS -->
    <link href="~/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Select2 CSS -->
    <link href="~/Scripts/Select2Drawdown/css/select2.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/bootstrap-datetimepicker.min.css">

    <script src='~/vendor/jquery/jquery.min.js'></script>

    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>


    <link rel="stylesheet" href="~/vendor/select2/select2.min.css">
    <style>
        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
    </style>
    <style>
        /*body {
            -moz-transform: scale(0.8);
            -webkit-transform: scale(1.0);
            zoom: 80%;
        }*/
    </style>

</head>
<body>
    @*PROGRESS BAR MODAL*@
    <div class="modal fade in" id="mod-progress" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="i-circle warning"><i class="fa fa-info"></i></div>
                        <div id="result" style="font-size: 1.1em; padding-bottom: 5px">
                            <p id="progressBarParagraph"></p>
                        </div>
                        <div style="width: 30%; margin: 0 auto; display:none;">
                            <div id="progressbar" style="width: 300px; height: 15px"></div>
                            <br />
                        </div>
                        <div id="ProgressStripe" class="progress progress-striped active" style="position:relative; top:10px; width:100%;">
                            <div id="ProgressMessage" class="progress-bar progress-bar-info" style="border:none;"></div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    @*@RenderBody()*@
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div>
                    <a class="navbar-brand" href="~/Home">Work Flow and Imaging</a>
                </div>
            </div>
            <div class="navbar-brand"><span id="CountDownHolder"></span></div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                Welcome, @Session["User_Name"]
                @if (Session["User_Name"] != null)
                {
                    Session["User_Name"].ToString();
                }
                else
                {
                    Response.Redirect("~/Account/Login");
                }
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="~/User/Profile/@Session["User_ID"]"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        @*<li>
                                <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>*@
                        <li class="divider"></li>
                        <li>
                            <a href="~/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- /.navbar-top-links -->
            @Html.Action("Menu", "Menu", new { controller = ViewContext.RouteData.Values["Controller"].ToString(), action = ViewContext.RouteData.Values["Action"].ToString() })
            <div>

            </div>
        </nav>
        <div id="page-wrapper">

            <div class="row">
                <div class="col-lg-12">
                    @Html.Action("Breadcrumb", "Menu", new { controller = ViewContext.RouteData.Values["Controller"].ToString(), action = ViewContext.RouteData.Values["Action"].ToString() })
                    <div>

                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /#page-wrapper -->
        <div class="panel-footer" style="text-align:center">
            Copyright © 2018. All rights reserved.
        </div>
    </div>

    <!-- /#wrapper -->
    <!-- jQuery -->
    @*<script src="~/vendor/jquery/jquery.min.js"></script>*@

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/vendor/select2/select2.full.min.js"></script>

    <!--Dropdown search-->
    <link href="~/Scripts/Select2Drawdown/css/select2.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.0.3.js"></script>
    <script src="~/Scripts/Select2Drawdown/select2.js"></script>


    <!-- DataTables JavaScript -->

    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="~/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/dist/js/sb-admin-2.js"></script>
    <script src="~/Scripts/Tree.js"></script>

    <script src="~/Scripts/CountDown/countdown.login.js"></script>
    @*<script src="~/Scripts/sessionTimeout.js"></script>*@
    <!-- This will init session -->
    @*<script>
        initSessionMonitor();
        </script>*@
</body>
</html>

<div id="divPopupTimeOut" style="display:none; text-align: left; margin-top:15px; width:280px !important; position:fixed; top:40px; right:0px; z-index:9999; height:165px;" class="alert alert-warning">
    <div class="row" style="margin-top:10px; margin-left:10px;">
        Your session is about to expire!
        <br />
        @*<span id="CountDownHolder"></span>*@
        <br />
        Click OK to continue your session.
    </div>
    <div class="row">
        <div class="text-center button-block" style="text-align:center; margin-top:22px;">
            <button type="button" class="btn btn-default btn-sm" onclick="SessionTimeout.sendKeepAlive();">OK</button>
            <button type="button" class="btn btn-default btn-sm" onclick="SessionTimeout.hidePopup();">Cancel</button>
        </div>
    </div>
</div>

@functions {
    public int PopupShowDelay
    {
        get
        {
            return 1000 * (Convert.ToInt32(HttpContext.Current.Session.Timeout) - 130);
        }
    }
}

<script type="text/javascript">

    var loginUrl='@Url.Action("Logout", "Login")';
    var extendMethodUrl='@Url.Action("ExtendSession","Login")';
    $(document).ready(function(){
        SessionTimeout.schedulePopup();

        $('.js-example-basic-multiple').select2();
    });

    window.SessionTimeout = (function() {
        var _timeLeft, _popupTimer, _countDownTimer;
        var stopTimers = function() {
            window.clearTimeout(_popupTimer);
            window.clearTimeout(_countDownTimer);
        };
        var updateCountDown = function() {
            var min = Math.floor(_timeLeft / 60);
            var sec = _timeLeft % 60;
            if(sec < 10){
                sec = "0" + sec;
            }

            if(min == 0 && sec <= 30 && sec != 00)
                showPopup();

            document.getElementById("CountDownHolder").innerHTML = min + ":" + sec;

            if(_timeLeft > 0) {
                _timeLeft--;
                _countDownTimer = window.setTimeout(updateCountDown, 1000);
            } else  {
                document.location = loginUrl;
            }
        };
        var showPopup = function() {
            $("#divPopupTimeOut").show();
            //updateCountDown();
        };
        var schedulePopup = function() {
            $("#divPopupTimeOut").hide();
            _timeLeft = @HttpContext.Current.Session.Timeout.ToString() * 60;
            stopTimers();
            _popupTimer = window.setTimeout(updateCountDown, @PopupShowDelay);
        };
        var hidePopup=function(){
            $("#divPopupTimeOut").hide();
        };
        var sendKeepAlive = function() {
            stopTimers();
            $("#divPopupTimeOut").hide();
            $.ajax({
                type: "GET",
                url: extendMethodUrl,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function successFunc(response) {
                    SessionTimeout.schedulePopup();
                },
                error:function(){
                }
            });
        };
        return {
            schedulePopup: schedulePopup,
            sendKeepAlive: sendKeepAlive,
            hidePopup:hidePopup,
            stopTimers:stopTimers,
        };

    })();

</script>
