﻿@model ReportingImage.ViewModels.MenuModels

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                @for (int i = 0; i < Model.Menu.Count(); i++)
            {
                    <li class="active">
                        @*@{ string Link = " " +@Model.Menu[i].Parent.Control + "/" + @Model.Menu[i].Parent.Action; }*@
                        <a href="@Url.Action(@Model.Menu[i].Parent.Action,@Model.Menu[i].Parent.Control)" class="@Model.Menu[i].Parent.Description">
                            <i class="@Model.Menu[i].Parent.Icon"></i> @Model.Menu[i].Parent.Menu
                            @{ string arrow = @Model.Menu[i].Child.Count() != 0 ? "fa arrow active" : "";}
                            <span class="@arrow"></span>
                        </a>
                        @if (@Model.Menu[i].Child.Count() != 0)
                        {
                            for (int j = 0; j < @Model.Menu[i].Child.Count(); j++)
                            {
                                <ul class="nav nav-second-level">
                                    <li class="@Model.Menu[i].Child[j].Parent.Description">
                                        <a href="@Url.Action(@Model.Menu[i].Child[j].Parent.Action, @Model.Menu[i].Child[j].Parent.Control)" class="@Model.Menu[i].Child[j].Parent.Description">
                                            <i class="@Model.Menu[i].Child[j].Parent.Icon"></i> @Model.Menu[i].Child[j].Parent.Menu
                                            @{ string tes = Model.Menu[i].Child[j].Child.Count != 0 ? "fa arrow active" : ""; }
                                            <span class="@tes"></span>
                                        </a>
                                        @if (@Model.Menu[i].Child[j].Child.Count() != 0)
                                        {
                                            for (int k = 0; k < @Model.Menu[i].Child[j].Child.Count(); k++)
                                            {
                                                <ul class="nav nav-third-level">
                                                    <li class="@Model.Menu[i].Child[j].Child[k].Parent.Description">
                                                        <a href="@Url.Action(@Model.Menu[i].Child[j].Child[k].Parent.Action,@Model.Menu[i].Child[j].Child[k].Parent.Control)" class="@Model.Menu[i].Child[j].Child[k].Parent.Description">
                                                            <i class="@Model.Menu[i].Child[j].Child[k].Parent.Icon"></i> @Model.Menu[i].Child[j].Child[k].Parent.Menu
                                                            @{ string tes1 = Model.Menu[i].Child[j].Child[k].Child.Count != 0 ? "fa arrow active" : ""; }
                                                            <span class="@tes1"></span>
                                                        </a>

                                                        @if (@Model.Menu[i].Child[j].Child[k].Child.Count() != 0)
                                                        {
                                                            for (int l = 0; l < @Model.Menu[i].Child[j].Child[k].Child.Count(); l++)
                                                            {
                                                                <ul class="nav nav-fourth-level">
                                                                    <li class="@Model.Menu[i].Child[j].Child[k].Child[l].Parent.Description">
                                                                        <a href="@Url.Action(@Model.Menu[i].Child[j].Child[k].Child[l].Parent.Action,@Model.Menu[i].Child[j].Child[k].Child[l].Parent.Control)" class="@Model.Menu[i].Child[j].Child[k].Child[l].Parent.Description">&nbsp;&nbsp;&nbsp;<i class="@Model.Menu[i].Child[j].Child[k].Child[l].Parent.Icon"></i> @Model.Menu[i].Child[j].Child[k].Child[l].Parent.Menu</a>
                                                                    </li>

                                                                </ul>
                                                            }
                                                        }

                                                    </li>
                                                </ul>
                                                                    }
                                                                }


                                    </li>
                                </ul>
                                                                    }
                                                                }

                    </li>
                                                                }
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>