﻿@model ReportingImage.Models.zMaster_AppParam
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-default">
        <div class="box-header with-border">
            @*<button type="button" class="close" data-dismiss="modal" style="margin-right:5px">&times;</button>
            <h3 class="box-title" style="margin-left:5px">Add Application Param</h3>*@
            <button type="button" class="close" data-dismiss="modal" style="margin-right:10px">&times;</button>
            <h3 class="box-title" style="margin-left:10px">Add Application Param</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <form role="form">
            <div class="box-body" style="margin-left:10px">
                <div class="row" style="margin-bottom:10px">
                    @Html.LabelFor(model => model.param_name, "Parameter Name", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.param_name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.param_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    @Html.LabelFor(model => model.param_value, "Parameter Value", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.param_value, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.param_value, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    @Html.LabelFor(model => model.description, "Parameter Description", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-lg-6">
                        @Html.TextBoxFor(model => model.description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <input type="submit" value="Submit" class="btn btn-primary" style="margin-left:15px"/>
                </div>
            </div>
        </form>
    </div>
                            }