﻿@model ReportingImage.Models.zMaster_AppParam
@{
    ViewBag.Title = "Create";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"> Add Group Param</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="@Url.Action("Delete","AppPram", new { id = TempData["idParamName"], isBack = "1"})" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>


        </div>
        <div class="panel-body">
            <div class="form-horizontal box-body">
                <hr />

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="form-group">
                    @Html.LabelFor(model => model.param_name, "Group Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.param_name, new { @class = "form-control", type = "text", required = "required" })
                        @Html.ValidationMessageFor(model => model.param_name, "", new { @class = "text-danger" })
                        <label id="errorParamName" class="text-danger" hidden="hidden">This field is required.</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.Action("Parent", "AppPram", new { id = TempData["idParamName"] })
                </div>
                <div class="form-group" style="margin-bottom:10px">
                    <div class="col-md-4">
                        <a id="btnNewParent" disabled="disabled" data-modal="" href="@Url.Action("CreateParent","AppPram", new { isBack = "1"})",
                           class="btn btn-default" title="New Param">
                           New Param
                        </a>
                        <input id="btnSubmit" type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

}
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
        //Event Click Button Submit
        $('#btnNewParent').click(function () {
            $.ajax({
                type: 'POST',
                url: 'zAppParamInsert',
                dataType: 'json',
                data: { paramName: $("#param_name").val() },
                success: function (a) {
                    
                },
                error: function (ex) {
                    alert('Failed to retrieve Data.' + ex);
                }
            });
            return false;
        });
        //Enabled or Disabled Button Submit
        if ($('#param_name').val() != '') {
            $('#btnNewParent').prop("disabled", false);
            $('#btnSubmit').prop("disabled", false);
        }
        else {
            $('#btnNewParent').prop("disabled", true);
            $('#btnSubmit').prop("disabled", true);
        }
        //Event KeyUp Textbox Parameter Name
        $('#param_name').keyup(function (event) {
            if ($('#param_name').val() != '') {
                $('#btnNewParent').prop("disabled", false);
                $('#btnSubmit').prop("disabled", false);
            }
            else {
                $('#btnNewParent').prop("disabled", true);
                $('#btnSubmit').prop("disabled", true);
            }
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#myModalContent').load(this.href, function () {
                    $('#myModal').modal({
                        keyboard: true
                    }, 'show');
                    bindForm(this);
                });
                return false;
            });
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $('#progress').show();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            $('#progress').hide();
                            location.reload();
                        } else {
                            $('#progress').hide();
                            $('#myModalContent').html(result);
                            bindForm();
                        }
                    }
                });
                return false;
            });
        }
    });
</script>