﻿@model IEnumerable<ReportingImage.Models.zMaster_AppParam>

@{
    ViewBag.Title = "App Params";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8">
                @*<i class="fa fa-bar-chart-o fa-fw"></i>*@

                <a data-toggle="tooltip" title="Add App Param" href="@Url.Action("Create", "AppPram", new {  })" class="btn btn-default"><i class="fa fa-plus"></i> Add App Param</a>
            </div>
            <div class="col-lg-4" style="text-align:right">

                @*<input type="submit" value="Add Privilege" class="btn btn-info" name="submitButton" />*@
            </div>

        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <div style="overflow-x: scroll !important;">
                    <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Param Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Param Value")
                                </th>
                                <th>
                                    @Html.DisplayName("Description")
                                </th>
                                <th>
                                    @Html.DisplayName("Create Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Create By")
                                </th>
                                <th>
                                    @Html.DisplayName("Update Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Update By")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.param_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.param_value)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.created_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.created_by)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.updated_date)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.updated_by)
                                    </td>
                                    <td>
                                        <a data-toggle="tooltip" title="Edit" href="@Url.Action("Edit", "AppPram", new { id=item.id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                                        <button class="btn btn-danger" type="submit" name="submitButton" value="delete" data-toggle="modal" data-target="#@item.id">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                        <div id="@item.id" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content" style="width:700px;">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        @*<h4 class="modal-title" style="width:100px; background-color:none"></h4>*@
                                                        Confirmation Delete
                                                    </div>
                                                    <div class="modal-body">
                                                        Delete Data @Html.DisplayFor(modelItem => item.param_name) ??
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a data-toggle="tooltip" title="Delete" href="@Url.Action("DeleteUpdate", "AppPram", new { id = item.id })" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</a>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /.panel-body -->
</div>





<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
