﻿@model IEnumerable<ReportingImage.Models.zMaster_AppParam>

@{
    ViewBag.Title = "Parent";
}
<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example1">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Param Name")
            </th>
            <th>
                @Html.DisplayName("Param Value")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Create Date")
            </th>
            <th>
                @Html.DisplayName("Create By")
            </th>
            <th>
                @Html.DisplayName("Update Date")
            </th>
            <th>
                @Html.DisplayName("Update By")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.param_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.param_value)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_by)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_by)
                                </td>
                                <td>
                                    <a data-modal="" data-toggle="tooltip" title="Edit" href="@Url.Action("EditParent", "AppPram", new { parentId=item.id })" class="btn btn-success"><i class="fa fa-edit"></i></a>
                                    <button class="btn btn-danger" type="button" name="submitButton" value="delete" data-toggle="modal" data-target="#@item.id">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    <div id="@item.id" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content" style="width:700px;">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    @*<h4 class="modal-title" style="width:100px; background-color:none"></h4>*@
                                                    Confirmation Delete
                                                </div>
                                                <div class="modal-body">
                                                    Delete Data @Html.DisplayFor(modelItem => item.param_name) ??
                                                </div>
                                                <div class="modal-footer">
                                                    <a data-toggle="tooltip" title="Delete" href="@Url.Action("DeleteUpdateParent", "AppPram", new { id = item.id })" class="btn btn-primary"><i class="fa fa-trash"></i> Delete</a>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </td>
                            </tr>
                            }
    </tbody>
</table>






<script>
    $(document).ready(function () {
        $('#dataTables-example1').DataTable({
            responsive: true,
            paging: false,
            filter:false
        });
    });
</script>
