﻿@model ReportingImage.ViewModels.EmployeeLeaveStatus

@{
    ViewBag.Title = "Dipcad Claim Epmloyee Leave";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">Detail Client</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="@Url.Action("Index","DipcadClaimEmployeeLeave")" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>
        </div>

        <!-- Panel Body  -->
        <div class="panel-body">
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.Id, "Id", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeName, "Employee Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("AssignTo", (SelectList)ViewBag.dllAssignTo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EmployeeName, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.LeaveDateFrom, "Date From", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div id="dtIncDate" class="input-group">
                            @*@Html.TextBox("txDataReminder", null, new { @placeholder = "Reminder", @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.LeaveDateFrom, htmlAttributes: new { @placeholder = "Incured Date", @class = "form-control" })
                            <span class="input-group-addon add-on ">
                                <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.LabelFor(model => model.LeaveDateTo, "Date To", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div id="dtIncDate2" class="input-group">
                            @*@Html.TextBox("txDataReminder", null, new { @placeholder = "Reminder", @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.LeaveDateTo, htmlAttributes: new { @placeholder = "Incured Date", @class = "form-control" })
                            <span class="input-group-addon add-on ">
                                <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("fullDay", "Full Day", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.CheckBoxFor(model => model.IsFullDay, htmlAttributes: new
                   {
                       @class = "form-check"
                       ,
                       @onchange = "checkComplete(this)"
                   })
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.TimeFrom, "Time From", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("TimeFrom", (SelectList)ViewBag.dllTimeFrom, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --" })
                        @Html.ValidationMessageFor(model => model.TimeFrom, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.TimeTo, "Time To", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("Timeto", (SelectList)ViewBag.dllTimeTo, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --" })
                        @Html.ValidationMessageFor(model => model.TimeTo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.Remarks, "Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @style = "width:100%;height:100px" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4">

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>

                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script src="~/Scripts/jquery.datetimepicker.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: true
        });
        document.getElementById("Id").setAttribute("disabled", "disabled");
        document.getElementById("UserSubmitted").setAttribute("disabled", "disabled");
        document.getElementById("DateSubmitted").setAttribute("disabled", "disabled");
    });
    //$("#LeaveDateFrom").datetimepicker({
    //    viewMode: 'days',
    //    format: 'yyyy-MM-dd',
    //    changeMonth: true,
    //    changeYear: false
    //}).on('changeDate', function () {
    //    $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    //});
    $("#LeaveDateFrom").datetimepicker();


    $("#LeaveDateTo").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dttimefrom").datetimepicker({
        /*  viewMode: 'days',*/
        format: 'HH:mm'//'yyyy-MM-dd',
        //changeMonth: true,
        //changeYear: false
    });
    //    .on('changeDate', function () {
    //    $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    //});

    $("#dttimefrom").datetimepicker({
        format: 'HH:mm',
        viewMode: 'time',
        //'yyyy-MM-dd',
        //changeMonth: true,
        //changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dttimeto").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dtIncDate").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dtIncDate2").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
</script>
