﻿@{
    ViewBag.Title = "Dipcad Claim Epmloyee Leave";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    <div class="col-lg-2">
                        Employee Name
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownList("AssignTo", (SelectList)ViewBag.dllAssignTo, new { @class = "form-control" })
                    </div>
                </div>
                @*<div class="col-lg-2">
                    Employee Name
                </div>
                <div class="col-lg-4">
                    <div id="EmpName" class="input-group col-lg-4">
                        @Html.TextBox("empName", null, new { @placeholder = "Employee Name", @class = "form-control", style = "width:200px" })
                    </div>
                </div>*@
                @*<div class="col-lg-4">
                </div>*@
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Date From
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddatefrom" class="input-group">
                        @Html.TextBox("receiveddatefrom", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    Date To
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddateto" class="input-group">
                        @Html.TextBox("receiveddateto", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Full Day
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddatefrom" class="input-group">
                        @Html.CheckBox("fullDay", false, new { @class = "form-check", @type = "checkbox" })
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    <div class="col-lg-2">
                        Time From
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownList("dllTimeFrom", (SelectList)ViewBag.dllTimeFrom, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --" })
                        @*@Html.ValidationMessageFor(model => model.WORKTYPE, "", new { @class = "text-danger" })*@
                    </div>
                    <div class="col-lg-2">
                        Time To
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownList("dllTimeTo", (SelectList)ViewBag.dllTimeTo, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --" })
                        @*@Html.ValidationMessageFor(model => model.WORKTYPE, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    <div class="col-lg-2">
                        Remarks
                    </div>
                    <div class="col-md-10">
                        @Html.TextArea("txRemarks", htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">

                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            <div class="row" style="margin-top:10px" hidden>

            </div>
        </div>
    </div>

    <!-- Panel Body  -->
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <table width="100%"
                       style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool"
                       class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("No")
                            </th>
                            <th>
                                @Html.DisplayName("Employee Name")
                            </th>
                            <th>
                                @Html.DisplayName("Dept Id")
                            </th>
                            <th>
                                @Html.DisplayName("Leave Date From")
                            </th>
                            <th>
                                @Html.DisplayName("Leave Date To")
                            </th>
                            <th>
                                @Html.DisplayName("Time From")
                            </th>
                            <th>
                                @Html.DisplayName("Time To")
                            </th>
                            <th>
                                @Html.DisplayName("Full Day")
                            </th>
                            <th>
                                @Html.DisplayName("Remarks")
                            </th>
                            <th>
                                @Html.DisplayName("Date Submitted")
                            </th>
                            <th>
                                @Html.DisplayName("User Submitted")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int seq = 1;}
                        @foreach (var result in ViewBag.ListEmployeeLeaveStatus)
                        {
                            <tr>
                                <td>
                                    @seq
                                </td>
                                <td>
                                    @result.EmployeeName
                                </td>
                                <td>
                                    @result.DeptId
                                </td>
                                <td>
                                    @result.LeaveDateFrom
                                </td>
                                <td>
                                    @result.LeaveDateTo
                                </td>
                                <td>
                                    @result.TimeFrom
                                </td>
                                <td>
                                    @result.TimeTo
                                </td>
                                <td>
                                    @if (@result.IsFullDay)
                                    {
                                        @Html.DisplayName("Yes")
                                    }
                                    else
                                    {
                                        @Html.DisplayName("No")
                                    }

                                </td>
                                <td>
                                    @result.Remarks
                                </td>
                                <td>
                                    @result.DateSubmitted
                                </td>
                                <td>
                                    @result.UserSubmitted
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="View"
                                       href="@Url.Action("Edit","DipcadClaimEmployeeLeave",new { Id = result.Id })"
                                       class="btn btn-default">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a data-toggle="tooltip" title="View"
                                       href="@Url.Action("Delete","DipcadClaimEmployeeLeave",new { Id = result.Id })"
                                       class="btn btn-default">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                            seq++;
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}

<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: true
        });

    });
    $("#dtreceiveddatefrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dtreceiveddateto").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    //$("#dttimefrom").datetimepicker({
    //    /*  viewMode: 'days',*/
    //    format: 'HH:mm'//'yyyy-MM-dd',
    //    //changeMonth: true,
    //    //changeYear: false
    //});
    ////    .on('changeDate', function () {
    ////    $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    ////});

    //$("#dttimefrom").datetimepicker({
    //    format: 'HH:mm',
    //    viewMode: 'time',
    //    //'yyyy-MM-dd',
    //    //changeMonth: true,
    //    //changeYear: false
    //});
    //    .on('changeDate', function () {
    //    $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    //});

    //$("#dttimeto").datetimepicker({
    //    viewMode: 'days',
    //    format: 'yyyy-MM-dd',
    //    changeMonth: true,
    //    changeYear: false
    //}).on('changeDate', function () {
    //    $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    //});

    $('#datetimepicker3').datetimepicker({
        format: 'LT'
    });
</script>
