﻿@*@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.DipcadClaimOpenViewModels>*@
@model ReportingImage.ViewModels.ListDipcadClaimPoolViewModels

@{
    ViewBag.Title = "Dipcad Claim Open List";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    if (Model.ListDipcadClaimPoolOpenViewModels != null)
    {
        for (int i = 0; i < Model.ListDipcadClaimPoolOpenViewModels.Count; i++)
        {
            @Html.HiddenFor(model => Model.ListDipcadClaimPoolOpenViewModels[i].POLICY_NO)
            @Html.HiddenFor(model => Model.ListDipcadClaimPoolOpenViewModels[i].CASE_ID)
        }
    }

    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Created Date From
                </div>
                <div class="col-lg-4">
                    <div id="dateFrom" class="input-group">
                        @Html.TextBox("receiveddatefrom", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                    <label id="errorDateFrom" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Created Date To
                </div>
                <div class="col-lg-4">
                    <div id="dateTo" class="input-group">
                        @Html.TextBox("receiveddateto", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                    <label id="errorDateTo" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-10">
                    @Html.TextBox("policyNumber", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-2">
                    Work Type
                </div>
                <div class="col-lg-10">
                    @Html.DropDownList("Worktype", (SelectList)ViewBag.dllWorktype, new
               {
                   @class = "form-control"
               })
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-2">
                    User Assign
                </div>
                <div class="col-lg-10">
                    @Html.DropDownList("AssignTo", (SelectList)ViewBag.ddl2AssignTo, new
               {
                   @class = "form-control"
               })
                </div>
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="col-lg-2">
                    Status
                </div>
                <div class="col-lg-10">
                    @Html.DropDownList("Status", (SelectList)ViewBag.ddlStatus, new
               {
                   @class = "form-control"
               })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-offset-2 col-lg-1">
                    <input type="submit" value="Search" class="fa fa-search btn btn-primary" style="width:100%" />
                </div>
            </div>
        </div>

        <!-- Panel Body  -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <table width="100%"
                           style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool"
                           class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    @Html.DisplayName("No")
                                </th>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                                <th>
                                    @Html.DisplayName("Case ID")
                                </th>
                                <th>
                                    @Html.DisplayName("Policy Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Claim Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Source")
                                </th>
                                <th>
                                    @Html.DisplayName("Work Type")
                                </th>
                                <th>
                                    @Html.DisplayName("SLA Claim")
                                </th>
                                <th>
                                    @Html.DisplayName("SLA Pending")
                                </th>
                                <th>
                                    @Html.DisplayName("Request Pending Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Method")
                                </th>
                                <th>
                                    @Html.DisplayName("Bucket")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Trans Status")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Captured Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Completed Date")
                                </th>
                                <th>
                                    @Html.DisplayName("VIP")
                                </th>
                                <th>
                                    @Html.DisplayName("Remarks")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int seq = 1;}
                            @for(int i = 0; i < Model.ListDipcadClaimPoolOpenViewModels.Count; i++)
                            {
                                <tr style="background-color:@Model.ListDipcadClaimPoolOpenViewModels[i].ColorSLA">
                                    <td>
                                        @Html.CheckBoxFor(m => Model.ListDipcadClaimPoolOpenViewModels[i].CHECKED)
                                    </td>
                                    <td>
                                        @seq
                                    </td>
                                    <td>
                                        <a data-toggle="tooltip" title="View"
                                           href="@Url.Action("DetailClient","DipcadClaimAssign",new { caseid = Model.ListDipcadClaimPoolOpenViewModels[i].CASE_ID })"
                                           class="btn btn-default">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a data-toggle="tooltip" title="Image"
                                           href="@Url.Action("ImagesClient","DipcadClaimAssign",new { case_id = Model.ListDipcadClaimPoolOpenViewModels[i].CASE_ID })"
                                           class="btn btn-default">
                                            <i class="fa fa-file-image-o"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].CASE_ID
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].POLICY_NO
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].CLAIMNO
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].SOURCE
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].WORKTYPE
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].SLAClaim
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].SLAPending
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].RequestPendingDate
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].USER_ASSIGN
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].BUCKET
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].RLS_TRANS
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].CREATE_DATE
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].RLS_CAPTURE_DATE
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].DATE_COMPLETE
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].VIP
                                    </td>
                                    <td>
                                        @Model.ListDipcadClaimPoolOpenViewModels[i].MESSAGE
                                    </td>
                                </tr>
                                seq++;
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Action
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2">
                    Assign To
                </div>
                <div class="col-lg-10">
                    @Html.DropDownList("ddlAssignTo", (SelectList)ViewBag.ddlAssignTo2, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                    <label id="errorddlAssignTo" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Remarks
                </div>
                <div class="col-lg-10">
                    @Html.TextArea("remarks", htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px" })
                </div>
            </div>
            <!--Button Submit-->
            <div class="row" style="margin-top:10px">
                <div class="col-lg-offset-2 col-lg-10">
                    <div class="box-footer">
                        @*<input id="btnSearch" type="submit" value="Submit" name="Submit" class="btn btn-primary" onclick="return ValidationAssign()" />*@
                        @if (@ViewBag.SubmitControl == "1")
                        {
                            <input id="btnSearch" type="submit" value="Submit" name="Submit" class="btn btn-primary" />
                        }
                        else
                        {
                            <input id="btnSearch" type="submit" value="Submit" name="Submit" class="btn btn-primary" disabled/>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $("#receiveddatefrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    //$("#dateTo").datetimepicker({
    //    viewMode: 'days',
    //    format: 'yyyy-MM-dd',
    //    changeMonth: true,
    //    changeYear: false
    //}).on('changeDate', function () {
    //    $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    //});

    $("#dateFrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();

    });
    $("#dateTo").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
</script>

<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: true
        });

    });

    function ValidationMethod(elm) {
        var idx = $(elm).closest("tr").index() + 1;
        var cbox = $('tr:eq(' + idx + ') td:eq(11) select');
        if (elm.checked) {
            cbox.show();
        } else {
            cbox.hide();
        }
    }

    function ValidationFilter() {
        document.getElementById("errorDateFrom").style.display = 'none';
        document.getElementById("errorDateTo").style.display = 'none';
        var status = true;
        if ($("#txbDateFrom").val() == '') {
            document.getElementById("errorDateFrom").style.display = 'block';
            status = false;
        }
        if ($("#txbDateTo").val() == '') {
            document.getElementById("errorDateTo").style.display = 'block';
            status = false;
        }
        return status;
    }
    function ValidationAssign() {
        document.getElementById("errorddlAssignTo").style.display = 'none';
        var status = true;
        if ($("#ddlAssignTo").val() == '') {
            document.getElementById("errorddlAssignTo").style.display = 'block';
            return false;
        }
    }
</script>
