@model ReportingImage.ViewModels.ClaimManual
@{ 
    ViewBag.Title = "Input Manual";
    var tempOwnerDob = "";
    if(Model.OwnerDob.ToString("MM/dd/yyyy") != "01/01/0001")
    {
        tempOwnerDob = Model.OwnerDob.ToString("MM/dd/yyyy");
    }
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Info:</strong> @TempData["Warning"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm("Index", "DipcadClaimInputManual", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Case ID
                </div>
                <div class="col-lg-3">
                    @Html.TextBoxFor(x => x.CaseId, null, new { @class = "form-control", @Value = Model.CaseId })
                </div>
                <div class="col-lg-1">
                    <input id="btnCekCaseId" type="submit" value="Check" name="Submit" class="btn btn-primary" onclick="return ValidationCaseId()" />
                </div>
                <div class="col-lg-2">
                    Re-Claim No
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.ReClaimNo, null, new { @class = "form-control", @Value = Model.ReClaimNo })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                @if (Model.CaseId == 0)
                {
                    <div class="col-lg-3">
                        @Html.TextBoxFor(x => x.PolicyNo, null, new { @class = "form-control", @Value = Model.PolicyNo })
                        <label id="errorPolicyNo" class="text-danger" hidden="hidden">This field is required</label>
                    </div> 
                    <div class="col-lg-1">
                        <input id="btnCekPolicy" type="submit" value="Check" name="Submit" class="btn btn-primary" onclick="return ValidationPolicy()" />
                    </div>
                }
                else
                {
                    <div class="col-lg-3">
                        @Html.TextBoxFor(x => x.PolicyNo, null, new { @class = "form-control", @readonly = "readonly", @Value = Model.PolicyNo })
                        <label id="errorPolicyNo" class="text-danger" hidden="hidden">This field is required</label>
                    </div>      
                    <div class="col-lg-1">
                        <input id="btnCekPolicy" type="submit" value="Check" name="Submit" class="btn btn-primary" onclick="return ValidationPolicy()" />
                    </div>          
                }
                <div class="col-lg-2">
                    Claim No
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.ClaimNo, null, new { @class = "form-control", @Value = Model.ClaimNo })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Priority
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlPriority", (SelectList)ViewBag.dllPriority, new { @class = "form-control", @Value = Model.Priority })
                    <label id="errorPriority" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Claim Amount
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.ClaimAmount, null, new { @class = "form-control", @Value = Model.ClaimAmount })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Owner Name
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.OwnerName, null, new { @class = "form-control", @Value = Model.OwnerName })
                    <label id="errorOwnerName" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Insured Date
                </div>
                <div class="col-lg-4">
                    <div id="dtInsuredDate" class="input-group">
                        @Html.TextBoxFor(x => x.IncuredDate, null, new { @placeholder = "Insured Date", @Value = Model.IncuredDate, @class = "form-control", @type = "datetime", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Owner DOB
                </div>
                <div class="col-lg-4">
                    <div id="dtOwnerDOB" class="input-group">
                        @Html.TextBoxFor(x => x.OwnerDob, null, new { @placeholder = "Owner DOB", @Value = tempOwnerDob, @class = "form-control", @type = "datetime", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    Policy Holder
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.Holder, null, new { @class = "form-control", @Value = Model.Holder })
                    <label id="errorHolder" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Member/Insured Number
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.MemberNo, null, new { @class = "form-control", @Value = Model.MemberNo })
                    <label id="errorMemberNo" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Owner ID
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.OwnerId, null, new { @class = "form-control", @Value = Model.OwnerId })
                    <label id="errorOwnerId" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Product Code
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.ProductCode, null, new { @class = "form-control", @Value = Model.ProductCode })
                    <label id="errorProductCode" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Member/Insured Name
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.MemberName, null, new { @class = "form-control", @Value = Model.MemberName })
                    <label id="errorMemberName" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Product Type
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.ProductType, null, new { @class = "form-control", @Value = Model.ProcessType })
                </div>
                <div class="col-lg-2">
                    Member/Insured ID
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.MemberId, null, new { @class = "form-control", @Value = Model.MemberId })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Received Date
                </div>
                <div class="col-lg-4">
                    <div id="dtRecievedDate" class="input-group">
                        @Html.TextBoxFor(x => x.ReceivedDate, null, new { @placeholder = "Recieved Date", @Value = Model.ReceivedDate, @class = "form-control", @type = "datetime", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    Document Source Type
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlDocumentSourceType", (SelectList)ViewBag.dllDocumentSourceType, new { @class = "form-control", @Value = Model.DocumentSourceType })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Primary Doc
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlPrimaryDoc", (SelectList)ViewBag.dllPrimaryDoc, new { @class = "form-control", @Value = Model.PrimaryDoc })
                </div>
                <div class="col-lg-2">
                    Channel
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.Channel, null, new { @class = "form-control", @Value = Model.Channel })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Completed Date
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.CompleteDate, null, new { @class = "form-control", @Value = Model.CompleteDate, @readonly = "readonly" })
                </div>
                <div class="col-lg-2">
                    RLS Transaction Status
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.RLSTrans, null, new { @class = "form-control", @Value = Model.RLSTrans, @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    VIP
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlVIP", (SelectList)ViewBag.dllVIP, new { @class = "form-control" })
                    <label id="errorVIP" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    RLS Capture Date
                </div>
                <div class="col-lg-4">
                    @Html.TextBoxFor(x => x.RLSCaptureDate, null, new { @class = "form-control", @Value = Model.RLSCaptureDate, @readonly = "readonly" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Work Type
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlWorkType", (SelectList)ViewBag.dllWorktype, new { @class = "form-control" })
                    <label id="errorWorkType" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Source
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlSource", (SelectList)ViewBag.dllSource, new { @class = "form-control" })
                    <label id="errorSource" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Case Type
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlCaseType", (SelectList)ViewBag.dllCaseType, new { @class = "form-control", @readonly = "readonly" })
                    <label id="errorCaseType" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Assign To
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("ddlRR", (SelectList)ViewBag.dllAssignTo, new { @class = "form-control" })
                </div>
            </div>
            @Html.Hidden("hPriority", new { @Value = Model.Priority })
            @Html.Hidden("hPrimaryDoc", new { @Value = Model.PrimaryDoc })
            @Html.Hidden("hDocumentSourceType", new { @Value = Model.DocumentSourceType })
            @Html.Hidden("hVIP", new { @Value = Model.VIP })
            @Html.Hidden("hWorkType", new { @Value = Model.WorkType })
            @Html.Hidden("hSource", new { @Value = Model.Source })
            @Html.HiddenFor(x => x.CaseId)
            @if (Model.CaseId == 0)
            {
                <div class="row" style="margin-top:10px">
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-offset-2 col-lg-4">
                        @*<input id="btnCekPolicy" type="submit" value="Check Data" name="Submit" class="btn btn-primary" onclick="return ValidationPolicy()" />*@
                    </div>
                    <div class="col-lg-offset-2 col-lg-4">
                        <input id="btnSubmit" type="submit" value="Submit" name="Submit" class="btn btn-success" onclick="return ValidationSubmit()" />
                    </div>
                </div> 
            }
            else
            {
                <div class="row" style="margin-top:10px">
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-lg-offset-2 col-lg-4">
                    </div>
                    <div class="col-lg-offset-2 col-lg-4">
                        <input id="btnSubmit" type="submit" value="Update" name="Submit" class="btn btn-success" onclick="return ValidationUpdate()" />
                    </div>
                </div> 
            }
            @Html.HiddenFor(x => x.StepName)             
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12" style="margin-left:10px">
                    <input id="btnAddImage" class="btn btn-default" value="Add Image" type="button" data-toggle="modal" data-target="#myModal" onclick="return ValidationSubmit()" />
                    <div id='myModal' class='modal fade' role="dialog" style="width:unset; background-color: transparent">
                        <div class="modal-dialog" style="width:800px">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title" style="background-color:none">Preview Content</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-3" style="text-align:right">
                                            Document Type
                                        </div>
                                        <div class="col-md-9">
                                            @Html.DropDownList("ddlDocumentType", (SelectList)ViewBag.dllDocumentType, new { @class = "form-control", @Value = Model.DocumentType })
                                            <label id="errorDocumentType" class="text-danger" hidden="hidden">This field is required</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-3" style="text-align:right">
                                            Chosse File
                                        </div>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(x => x.SourceDoc, null, new { @type = "file", @name = "File", @accept = ".pdf,.jpg,.jpeg,.tiff,.tif" })
                                            <label id="errorSourceDoc" class="text-danger" hidden="hidden">This field is required</label>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top:10px">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input id="btnModalSubmit" type="submit" value="Add Image" name="Submit" class="btn btn-primary" onclick="return ValidationImage()" />
                                            <label id="errorGetCaseId" class="text-danger" hidden="hidden">Submit policy pool first for getting CaseId</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table width="100%" style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>@Html.DisplayName("Action")</th>
                                <th>@Html.DisplayName("File Name")</th>
                                <th>@Html.DisplayName("Document Name")</th>
                                <th>@Html.DisplayName("Create Date")</th>
                                <th>@Html.DisplayName("Source")</th>
                                <th>Document Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.mSTImageAddtionals != null)
                            {
                                foreach (var item in Model.mSTImageAddtionals)
                                {
                                    <tr>
                                        <td>
                                            <button class="btn btn-danger" type="button" name="delete" value="delete" data-toggle="modal" data-target="#DEL_@item.Id.ToString()" onclick="return ValidationDeleteImage(@item.Id)">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                            <div id="DEL_@item.Id.ToString()" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                                <div class="modal-dialog">
                                                    <div class="modal-content" style="width:700px;">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" style="background-color:none">Confirmation Delete</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h5>Delete Data @item.Filename ?</h5>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input id="btnDelete@i.ToString()" type="submit" value="Delete @item.Filename" name="Submit" class="btn btn-danger" />
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#@item.Id.ToString()">
                                                @item.Filename
                                            </button>

                                            <div id="@item.Id.ToString()" class="modal fade" role="dialog" style="width:unset; background-color: transparent">
                                                <div class="modal-dialog" style="width:800px">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" style="background-color:none">Preview Content</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            @if (Path.GetExtension(item.Filename) == "pdf")
                                                            {
                                                                <object type="application/pdf" data="@item.Fileimage" width="750" height="500"></object> 
                                                            }
                                                            else
                                                            {
                                                                <img src="@item.Fileimage" width="750" height="500" />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @item.Filename
                                        </td>
                                        <td>
                                            @item.CreateDate
                                        </td>
                                        <td>
                                            @item.Source
                                        </td>
                                        <td>
                                            @item.DocumentType
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @Html.Hidden("SourceId")
                </div>
            </div>
        </div>
    </div>
}

<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable-example').DataTable({
            responsive: true,
            paging: false
        });

        let a1 = document.getElementById("hPriority").value.replace("{ Value = ", "").replace(" }", "");
        let a2 = document.getElementById("hPrimaryDoc").value.replace("{ Value = ", "").replace(" }", "");
        let a3 = document.getElementById("hDocumentSourceType").value.replace("{ Value = ", "").replace(" }", "");
        let a4 = document.getElementById("hVIP").value.replace("{ Value = ", "").replace(" }", "");
        let a5 = document.getElementById("hWorkType").value.replace("{ Value = ", "").replace(" }", "");
        let a7 = document.getElementById("hSource").value.replace("{ Value = ", "").replace(" }", "");
        setTimeout(function () {
            document.getElementById("ddlPriority").value = a1;
            document.getElementById("ddlPrimaryDoc").value = a2;
            document.getElementById("ddlDocumentSourceType").value = a3;
            document.getElementById("ddlVIP").value = a4;
            document.getElementById("ddlWorkType").value = a5;
            document.getElementById("ddlSource").value = a7;
        }, 1000);
    });
    $("#dtInsuredDate").datetimepicker({
        viewMode: 'days',
        format: 'MM/dd/yyyy',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
    $("#dtOwnerDOB").datetimepicker({
        viewMode: 'days',
        format: 'MM/dd/yyyy',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
    $("#dtRecievedDate").datetimepicker({
        viewMode: 'days',
        format: 'MM/dd/yyyy',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
    $("#dtCreatedDate").datetimepicker({
        viewMode: 'days',
        format: 'MM/dd/yyyy',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    function ValidationPolicy() {
        let err = 0;
        document.getElementById("StepName").value = "VerificationPolicy";
        document.getElementById("errorPolicyNo").style.display = 'none';
        if ($("#PolicyNo").val() == '') {
            document.getElementById("errorPolicyNo").style.display = 'block';
            err++;
        }
        if (err >= 1) {
            return false;
        }
        else {
            return true
        }
    };
    function ValidationCaseId() {
        document.getElementById("StepName").value = "CheckCaseId";
    };
    function ValidationSubmit() {
        document.getElementById("StepName").value = "Submit";
        document.getElementById("errorPriority").style.display = 'none';
        document.getElementById("errorPolicyNo").style.display = 'none';
        document.getElementById("errorOwnerName").style.display = 'none';
        document.getElementById("errorHolder").style.display = 'none';
        document.getElementById("errorMemberNo").style.display = 'none';
        document.getElementById("errorOwnerId").style.display = 'none';
        document.getElementById("errorProductCode").style.display = 'none';
        document.getElementById("errorMemberName").style.display = 'none';
        document.getElementById("errorVIP").style.display = 'none';
        document.getElementById("errorWorkType").style.display = 'none';
        document.getElementById("errorCaseType").style.display = 'none';
        document.getElementById("errorSource").style.display = 'none';
        let err = 0;
        if ($("#ddlPriority").val() == '') {
            document.getElementById("errorPriority").style.display = 'block';
            err++;
        }
        if ($("#PolicyNo").val() == '') {
            document.getElementById("errorPolicyNo").style.display = 'block';
            err++;
        }
        if ($("#OwnerName").val() == '') {
            document.getElementById("errorOwnerName").style.display = 'block';
            err++;
        }
        if ($("#Holder").val() == '') {
            document.getElementById("errorHolder").style.display = 'block';
            err++;
        }
        if ($("#MemberNo").val() == '') {
            document.getElementById("errorMemberNo").style.display = 'block';
            err++;
        }
        if ($("#OwnerId").val() == '') {
            document.getElementById("errorOwnerId").style.display = 'block';
            err++;
        }
        if ($("#ProductCode").val() == '') {
            document.getElementById("errorProductCode").style.display = 'block';
            err++;
        }
        if ($("#MemberName").val() == '') {
            document.getElementById("errorMemberName").style.display = 'block';
            err++;
        }
        if ($("#ddlVIP").val() == '') {
            document.getElementById("errorVIP").style.display = 'block';
            err++;
        }
        if ($("#ddlWorkType").val() == '') {
            document.getElementById("errorWorkType").style.display = 'block';
            err++;
        }
        if ($("#ddlCaseType").val() == '') {
            document.getElementById("errorCaseType").style.display = 'block';
            err++;
        }
        if ($("#ddlSource").val() == '') {
            document.getElementById("errorSource").style.display = 'block';
            err++;
        }
        if (err >= 1) {
            return false;
        }
        else {
            return true
        }
    }
    function ValidationUpdate() {
        document.getElementById("StepName").value = "Update";
        document.getElementById("errorPriority").style.display = 'none';
        document.getElementById("errorPolicyNo").style.display = 'none';
        document.getElementById("errorOwnerName").style.display = 'none';
        document.getElementById("errorHolder").style.display = 'none';
        document.getElementById("errorMemberNo").style.display = 'none';
        document.getElementById("errorOwnerId").style.display = 'none';
        document.getElementById("errorProductCode").style.display = 'none';
        document.getElementById("errorMemberName").style.display = 'none';
        document.getElementById("errorVIP").style.display = 'none';
        document.getElementById("errorWorkType").style.display = 'none';
        document.getElementById("errorCaseType").style.display = 'none';
        document.getElementById("errorSource").style.display = 'none';
        let err = 0;
        if ($("#ddlPriority").val() == '') {
            document.getElementById("errorPriority").style.display = 'block';
            err++;
        }
        if ($("#PolicyNo").val() == '') {
            document.getElementById("errorPolicyNo").style.display = 'block';
            err++;
        }
        if ($("#OwnerName").val() == '') {
            document.getElementById("errorOwnerName").style.display = 'block';
            err++;
        }
        if ($("#Holder").val() == '') {
            document.getElementById("errorHolder").style.display = 'block';
            err++;
        }
        if ($("#MemberNo").val() == '') {
            document.getElementById("errorMemberNo").style.display = 'block';
            err++;
        }
        if ($("#OwnerId").val() == '') {
            document.getElementById("errorOwnerId").style.display = 'block';
            err++;
        }
        if ($("#ProductCode").val() == '') {
            document.getElementById("errorProductCode").style.display = 'block';
            err++;
        }
        if ($("#MemberName").val() == '') {
            document.getElementById("errorMemberName").style.display = 'block';
            err++;
        }
        if ($("#ddlVIP").val() == '') {
            document.getElementById("errorVIP").style.display = 'block';
            err++;
        }
        if ($("#ddlWorkType").val() == '') {
            document.getElementById("errorWorkType").style.display = 'block';
            err++;
        }
        if ($("#ddlCaseType").val() == '') {
            document.getElementById("errorCaseType").style.display = 'block';
            err++;
        }
        if ($("#ddlSource").val() == '') {
            document.getElementById("errorSource").style.display = 'block';
            err++;
        }
        if (err >= 1) {
            return false;
        }
        else {
            return true
        }
    }
    function ValidationImage() {
        document.getElementById("StepName").value = "Image";
        document.getElementById("errorGetCaseId").style.display = 'none';
        document.getElementById("errorDocumentType").style.display = 'none';
        document.getElementById("errorSourceDoc").style.display = 'none';
        let err = 0;
        if ($("#CaseId").val() == '') {
            document.getElementById("errorGetCaseId").style.display = 'block';
            err++;
        }
        if ($("#ddlDocumentType").val() == '') {
            document.getElementById("errorDocumentType").style.display = 'block';
            err++;
        }
        if ($("#SourceDoc").val() == '') {
            document.getElementById("errorSourceDoc").style.display = 'block';
            err++;
        }
        if (err >= 1) {
            return false;
        }
        else {
            return true
        }
    }
    function ValidationDeleteImage(id) {

        document.getElementById("StepName").value = "DeleteSource";
        document.getElementById("SourceId").value = id;
    }
</script>