﻿@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.PosPolicyPoolOpenViewModels>

@{
    ViewBag.Title = "Summary Input Manual";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-8">
                    @Html.TextBox("policyNumber", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
                
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Source
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlSource", (SelectList)ViewBag.ddlSource, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" name="Search" class="fa fa-search btn btn-primary" />
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-offset-2 col-lg-2">
                    <a data-toggle="tooltip" title="Add User" href="@Url.Action("Index", "POSInputManual", new { })" class="btn btn-default"><i class="fa fa-plus"></i> Add Case</a>
                </div>
                
            </div>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <table width="100%"
                           style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool"
                           class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                                <th>
                                    @Html.DisplayName("Case ID")
                                </th>
                                <th>
                                    @Html.DisplayName("Policy Number")
                                </th>
                                <th>
                                    @Html.DisplayName("CIF")
                                </th>
                                <th>
                                    @Html.DisplayName("Source")
                                </th>
                                <th>
                                    @Html.DisplayName("Work Type")
                                </th>
                                <th hidden>
                                    @Html.DisplayName("Category")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Trans Status")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Captured Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Completed Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Remarks")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 0; row < Model.Content.Count; row++)
                            {
                                <tr>
                                    <td>
                                        <a data-toggle="tooltip" title="View"
                                           href="@Url.Action("Index","POSInputManual",new { caseid = Model.Content[row].CASE_ID })"
                                           class="btn btn-default">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].CASE_ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].POLICY_NO)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].CIF)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].SOURCE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].WORKTYPE)
                                    </td>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => Model.Content[row].CATEGORY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].RLS_TRANS)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].CREATE_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].RLS_CAPTURE_DATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].DATE_COMPLETE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[row].USER_ASSIGN)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive:true
        });
    });
</script>