﻿@model IEnumerable<ReportingImage.ViewModels.HoursViewModels>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}
<style>
    h3 {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }

    .x.axis path {
        display: none;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default" style="margin-bottom:50px">
        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Date
                </div>
                <div class="col-lg-4">
                    <div id="dateHoursly" class="input-group">
                        @Html.TextBox("txbDate", TempData["hourslyToday"], new { @placeholder = "Please Select Date", @class = "form-control" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <input id="btnSearch" type="submit" value="Search" name="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div>
                        <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Row Label")
                                    </th>
                                    <th>
                                        @Html.DisplayName("08:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("09:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("10:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("11:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("12:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("13:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("14:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("15:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("16:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("17:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("18:00")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Total")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Row_Label)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eight)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nine)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Ten)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eleven)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Twelve)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Thirteen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FourTeen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FifTeen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SixTeen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SevenTeen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Eighteen)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Total)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <div class="box box-success" style="margin-bottom:50px">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div>
        <div class="box-body">
            <div class="chart">
                <script src="~/Scripts/Chart/d3.v3.min.js"></script>
                <script>
                    
                    function getTextWidth(text, fontSize, fontName) {
                        c = document.createElement("canvas");
                        ctx = c.getContext("2d");
                        ctx.font = fontSize + ' ' + fontName;
                        return ctx.measureText(text).width;
                    }

                    function DataSegregator(array, on) {
                        var SegData;
                        OrdinalPositionHolder = {
                            valueOf: function () {
                                thisObject = this;
                                keys = Object.keys(thisObject);
                                keys.splice(keys.indexOf("valueOf"), 1);
                                keys.splice(keys.indexOf("keys"), 1);
                                return keys.length == 0 ? -1 : d3.max(keys, function (d) { return thisObject[d] })
                            }
                            , keys: function () {
                                keys = Object.keys(thisObject);
                                keys.splice(keys.indexOf("valueOf"), 1);
                                keys.splice(keys.indexOf("keys"), 1);
                                return keys;
                            }
                        }
                        array[0].map(function (d) { return d[on] }).forEach(function (b) {
                            value = OrdinalPositionHolder.valueOf();
                            OrdinalPositionHolder[b] = OrdinalPositionHolder > -1 ? ++value : 0;
                        })

                        SegData = OrdinalPositionHolder.keys().map(function () {
                            return [];
                        });

                        array.forEach(function (d) {
                            d.forEach(function (b) {
                                SegData[OrdinalPositionHolder[b[on]]].push(b);
                            })
                        });

                        return SegData;
                    }

                    var result = @Html.Raw(ViewBag.DataPoints);
                    var areaChartData = [];
                    var dataSPAJBaru = [];
                    var dataJawabanPending = [];
                    var dataActual = [];
                    var dataPlanning = [];

                    for(var i = 0; i < result.length; i++)
                    {
                        if(result[i].Row_Label == 'SPAJ Baru')
                        {
                            dataSPAJBaru[0] = result[i].Eight;
                            dataSPAJBaru[1] = result[i].Nine;
                            dataSPAJBaru[2] = result[i].Ten;
                            dataSPAJBaru[3] = result[i].Eleven;
                            dataSPAJBaru[4] = result[i].Twelve;
                            dataSPAJBaru[5] = result[i].Thirteen;
                            dataSPAJBaru[6] = result[i].FourTeen;
                            dataSPAJBaru[7] = result[i].FifTeen;
                            dataSPAJBaru[8] = result[i].SixTeen;
                            dataSPAJBaru[9] = result[i].SevenTeen;
                            dataSPAJBaru[10] = result[i].Eighteen;
                        }
                        else if(result[i].Row_Label == 'Jawaban Pending')
                        {
                            dataJawabanPending[0] = result[i].Eight;
                            dataJawabanPending[1] = result[i].Nine;
                            dataJawabanPending[2] = result[i].Ten;
                            dataJawabanPending[3] = result[i].Eleven;
                            dataJawabanPending[4] = result[i].Twelve;
                            dataJawabanPending[5] = result[i].Thirteen;
                            dataJawabanPending[6] = result[i].FourTeen;
                            dataJawabanPending[7] = result[i].FifTeen;
                            dataJawabanPending[8] = result[i].SixTeen;
                            dataJawabanPending[9] = result[i].SevenTeen;
                            dataJawabanPending[10] = result[i].Eighteen;
                        }
                        else if(result[i].Row_Label == 'Actual')
                        {
                            dataActual[0] = result[i].Eight;
                            dataActual[1] = result[i].Nine;
                            dataActual[2] = result[i].Ten;
                            dataActual[3] = result[i].Eleven;
                            dataActual[4] = result[i].Twelve;
                            dataActual[5] = result[i].Thirteen;
                            dataActual[6] = result[i].FourTeen;
                            dataActual[7] = result[i].FifTeen;
                            dataActual[8] = result[i].SixTeen;
                            dataActual[9] = result[i].SevenTeen;
                            dataActual[10] = result[i].Eighteen;
                        }
                        else if(result[i].Row_Label == 'Planning')
                        {
                            dataPlanning[0] = result[i].Eight;
                            dataPlanning[1] = result[i].Nine;
                            dataPlanning[2] = result[i].Ten;
                            dataPlanning[3] = result[i].Eleven;
                            dataPlanning[4] = result[i].Twelve;
                            dataPlanning[5] = result[i].Thirteen;
                            dataPlanning[6] = result[i].FourTeen;
                            dataPlanning[7] = result[i].FifTeen;
                            dataPlanning[8] = result[i].SixTeen;
                            dataPlanning[9] = result[i].SevenTeen;
                            dataPlanning[10] = result[i].Eighteen;
                        }
                    }

                    Data = [
            { Date: "08:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[0] }, { Name: "Jawaban Pending", Value: dataJawabanPending[0] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[0] }, { Name: "Actual", Value: dataActual[0] }] },
            { Date: "09:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[1] }, { Name: "Jawaban Pending", Value: dataJawabanPending[1] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[1] }, { Name: "Actual", Value: dataActual[1] }] },
            { Date: "10:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[2] }, { Name: "Jawaban Pending", Value: dataJawabanPending[2] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[2] }, { Name: "Actual", Value: dataActual[2] }] },
            { Date: "11:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[3] }, { Name: "Jawaban Pending", Value: dataJawabanPending[3] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[3] }, { Name: "Actual", Value: dataActual[3] }] },
            { Date: "12:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[4] }, { Name: "Jawaban Pending", Value: dataJawabanPending[4] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[4] }, { Name: "Actual", Value: dataActual[4] }] },
            { Date: "13:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[5] }, { Name: "Jawaban Pending", Value: dataJawabanPending[5] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[5] }, { Name: "Actual", Value: dataActual[5] }] },
            { Date: "14:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[6] }, { Name: "Jawaban Pending", Value: dataJawabanPending[6] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[6] }, { Name: "Actual", Value: dataActual[6] }] },
            { Date: "15:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[7] }, { Name: "Jawaban Pending", Value: dataJawabanPending[7] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[7] }, { Name: "Actual", Value: dataActual[7] }] },
            { Date: "16:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[8] }, { Name: "Jawaban Pending", Value: dataJawabanPending[8] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[8] }, { Name: "Actual", Value: dataActual[8] }] },
            { Date: "17:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[9] }, { Name: "Jawaban Pending", Value: dataJawabanPending[9] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[9] }, { Name: "Actual", Value: dataActual[9] }] },
            { Date: "18:00", Categories: [{ Name: "SPAJ Baru", Value: dataSPAJBaru[10] }, { Name: "Jawaban Pending", Value: dataJawabanPending[10] }], LineCategory: [{ Name: "Planning", Value: dataPlanning[10] }, { Name: "Actual", Value: dataActual[10] }] }
                    ]

                    var margin = { top: 20, right: 30, bottom: 60, left: 40 },
                        width = 960 - margin.left - margin.right,
                        height = 500 - margin.top - margin.bottom;

                    var textWidthHolder = 0;
                    /// Adding Date in LineCategory
                    Data.forEach(function (d) {
                        d.LineCategory.forEach(function (b) {
                            b.Date = d.Date;
                        })
                    });




                    var Categories = new Array();
                    // Extension method declaration

                    Categories.pro

                    var Data;
                    var ageNames;
                    var x0 = d3.scale.ordinal()
                        .rangeRoundBands([0, width], .1);
                    var XLine = d3.scale.ordinal()
                        .rangeRoundPoints([0, width], .1);
                    var x1 = d3.scale.ordinal();

                    var y = d3.scale.linear()
                        .range([height, 0]);

                    var YLine = d3.scale.linear().range([height, 0])
                    .domain([0, d3.max(Data, function (d) { return d3.max(d.LineCategory, function (b) { return b.Value }) })]);

                    var color = d3.scale.ordinal()
                        .range(["#68ba64", "#3988d3", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

                    var line = d3.svg.line().x(function (d) {
                        return x0(d.Date) + x0.rangeBand() / 2;
                    }).y(function (d) { return YLine(d.Value) });




                    var xAxis = d3.svg.axis()
                        .scale(x0)
                        .orient("bottom");

                    var yAxis = d3.svg.axis()
                        .scale(y)
                        .orient("left")
                        .tickFormat(d3.format(".2s"));

                    var YLeftAxis = d3.svg.axis().scale(YLine).orient("right").tickFormat(d3.format(".2s"));

                    var svg = d3.select("h3").append("svg")
                        .attr("width", width + margin.left + margin.right)
                        .attr("height", height + margin.top + margin.bottom)
                      .append("g")
                        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");





                    // Bar Data categories
                    Data.forEach(function (d) {
                        d.Categories.forEach(function (b) {
                            if (Categories.findIndex(function (c) { return c.Name === b.Name }) == -1) {
                                b.Type = "bar";
                                //console.log(JSON.stringify(b))
                                Categories.push(b)
                            }
                        })
                    });


                    // Line Data categories
                    Data.forEach(function (d) {
                        d.LineCategory.forEach(function (b) {
                            if (Categories.findIndex(function (c) { return c.Name === b.Name }) == -1) {
                                b.Type = "line";
                                //console.log(JSON.stringify(b))
                                Categories.push(b)
                            }
                        })
                    });

                    // Processing Line data
                    lineData = DataSegregator(Data.map(function (d) { return d.LineCategory }), "Name");

                    // Line Coloring
                    LineColor = d3.scale.ordinal();
                    LineColor.domain(Categories.filter(function (d) { return d.Type == "line" }).map(function (d) { return d.Name }));
                    LineColor.range(["#d40606", "#4c544b", "#98bdc5", "#671919", "#0b172b"])
                    x0.domain(Data.map(function (d) { return d.Date; }));
                    XLine.domain(Data.map(function (d) { return d.Date; }));
                    x1.domain(Categories.filter(function (d) { return d.Type == "bar" }).map(function (d) { return d.Name })).rangeRoundBands([0, x0.rangeBand()]);
                    y.domain([0, d3.max(Data, function (d) { return d3.max(d.Categories, function (d) { return d.Value; }); })]);

                    svg.append("g")
                        .attr("class", "x axis")
                        .attr("transform", "translate(0," + height + ")")
                        .call(xAxis);
                 
                    svg.append("g")
                       .attr("class", "y axis")
                        .attr("transform", "translate(" + (width) + ",0)")
                       .call(YLeftAxis)

                     .append("text")
                       .attr("transform", "rotate(-90)")
                       .attr("y", -10)

                       .attr("dy", ".71em")
                       .style("text-anchor", "end")
                       .text("");

                    svg.append("g")
                        .attr("class", "y axis")
                        .call(yAxis)
                      .append("text")
                        .attr("transform", "rotate(-90)")
                        .attr("y", 6)
                        .attr("dy", ".71em")
                        .style("text-anchor", "end")
                        .text("");


                    var state = svg.selectAll(".state")
                        .data(Data)
                      .enter().append("g")
                        .attr("class", "state")
                        .attr("transform", function (d) { return "translate(" + x0(d.Date) + ",0)"; });

                    state.selectAll("rect")
                        .data(function (d) { return d.Categories; })
                      .enter().append("rect")
                        .attr("width", x1.rangeBand())
                        .attr("x", function (d) { return x1(d.Name); })
                        .attr("y", function (d) { return y(d.Value); })
                        //.attr("height", function (d) { return height - y(d.Value); })
                        .style("fill", function (d) { return color(d.Name); })
                        .transition().delay(500).attrTween("height", function (d) {
                            var i = d3.interpolate(0, height - y(d.Value));
                            return function (t) {
                                return i(t);
                            }
                        });

                    // drawaing lines
                    svg.selectAll(".lines").data(lineData).enter().append("g").attr("class", "line")
                    .each(function (d) {
                        Name = d[0].Name
                        d3.select(this).append("path").attr("d", function (b) { return line(b) }).style({ "stroke-width": "2px", "fill": "none" }).style("stroke", LineColor(Name)).transition().duration(1500);
                    })


                    // Legends

                    var LegendHolder = svg.append("g").attr("class", "legendHolder");
                    var legend = LegendHolder.selectAll(".legend")
                        .data(Categories.map(function (d) { return { "Name": d.Name, "Type": d.Type } }))
                      .enter().append("g")
                        .attr("class", "legend")
                        .attr("transform", function (d, i) { return "translate(0," + (height + margin.bottom / 2) + ")"; })
                        .each(function (d, i) {
                            //  Legend Symbols


                            d3.select(this).append("rect")
                            .attr("width", function () { return 18 })
                            .attr("x", function (b) {

                                left = (i + 1) * 15 + i * 18 + i * 5 + textWidthHolder;
                                return left;
                            })
                             .attr("y", function (b) { return b.Type == 'bar' ? 0 : 7 })
                            .attr("height", function (b) { return b.Type == 'bar' ? 18 : 5 })
                            .style("fill", function (b) { return b.Type == 'bar' ? color(d.Name) : LineColor(d.Name) });

                            //  Legend Text

                            d3.select(this).append("text")
                            .attr("x", function (b) {

                                left = (i + 1) * 15 + (i + 1) * 18 + (i + 1) * 5 + textWidthHolder;

                                return left;
                            })
                            .attr("y", 9)
                            .attr("dy", ".35em")
                            .style("text-anchor", "start")
                            .text(d.Name);

                            textWidthHolder += getTextWidth(d.Name, "10px", "calibri");
                        });


                    // Legend Placing

                    d3.select(".legendHolder").attr("transform", function (d) {
                        thisWidth = d3.select(this).node().getBBox().width;
                        return "translate(" + ((width) / 2 - thisWidth / 2) + ",0)";
                    })


                </script>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
}

<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: false,
            filter: false,
            info: false
        });
    });

    $("#dateHoursly").datetimepicker({
        viewMode: 'days',
        format: 'dd-MM-yyyy',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
    
  
</script>