﻿@model IEnumerable<ReportingImage.ViewModels.ReportViewModels>

@{
    ViewBag.Title = "Report";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Date From
                </div>
                <div class="col-lg-4">
                    <div id="dateFrom" class="input-group">
                        @Html.TextBox("txbDateFrom", null, new { @placeholder = "Date From", @class = "form-control" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                    <label id="errorDateFrom" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-2">
                    Date To
                </div>
                <div class="col-lg-4">
                    <div id="dateTo" class="input-group">
                        @Html.TextBox("txbDateTo", null, new { @placeholder = "Date To", @class = "form-control" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                    <label id="errorDateTo" class="text-danger" hidden="hidden">This field is required</label>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Type Of UW
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("typeOfUw", (SelectList)ViewBag.typeOfUw, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                    <label id="errorTypeOfUw" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-6">
                    <input id="btnSearch" type="submit" value="Search" name="Submit" class="btn btn-primary" onclick="return ValidationFilter()" />
                    <input id="btnDownload" type="submit" value="Download" name="Submit" class="btn btn-default" onclick="return ValidationFilter()" />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div>
                        <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("WDOS")
                                    </th>
                                    <th>
                                        @Html.DisplayName("WPMODE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("WTTPRM")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Policy Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Plan Code")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Remark")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Status Dispatcher")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Source Data")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Type of UW")
                                    </th>
                                    <th>
                                        @Html.DisplayName("User")
                                    </th>
                                    <th>
                                        @Html.DisplayName("PA Date")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WDOS)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WPMODE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WTTPRM)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NOMOR_POLIS)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PLAN_CODE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Remark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status_Dispatcher)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.source_data)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Type_of_UW)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PADate)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    $("#dateFrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();

    });
    $("#dateTo").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();

    });
    function ValidationFilter() {
        document.getElementById("errorDateFrom").style.display = 'none';
        document.getElementById("errorDateTo").style.display = 'none';
        document.getElementById("errorTypeOfUw").style.display = 'none';
        if ($("#txbDateFrom").val() == '' && $("#txbDateTo").val() == '' && $("#typeOfUw").val() == '') {
            document.getElementById("errorDateFrom").style.display = 'block';
            document.getElementById("errorDateTo").style.display = 'block';
            document.getElementById("errorTypeOfUw").style.display = 'block';
            return false;
        }
        else if ($("#txbDateFrom").val() == '') {
            document.getElementById("errorDateFrom").style.display = 'block';
            return false;
        }
        else if ($("#txbDateTo").val() == '') {
            document.getElementById("errorDateTo").style.display = 'block';
            return false;
        }
        else if ($("#typeOfUw").val() == '') {
            document.getElementById("errorTypeOfUw").style.display = 'block';
            return false;
        }
    }
</script>
