﻿@model IEnumerable<ReportingImage.ViewModels.WeekViewModels>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}
<style>
    body {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .bar {
        fill: steelblue;
    }

    .x.axis path {
        display: none;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default" style="margin-bottom:50px">
        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Monthly
                </div>
                <div class="col-lg-4">
                    @Html.DropDownList("monthly", (SelectList)ViewBag.mothly, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                    <label id="errorTypeOfUw" class="text-danger" hidden="hidden">This field is required</label>
                </div>
                <div class="col-lg-6">
                    <input id="btnSearch" type="submit" value="Search" name="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div>
                        <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Row Label")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Week-1")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Week-2")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Week-3")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Week-4")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Week-5")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Row_Label)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Week_1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Week_2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Week_3)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Week_4)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Week_5)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

    <div class="box box-success" style="margin-bottom:50px">
        <div class="box-header with-border">
            <h3 class="box-title">Bar Chart</h3>
        </div>
        <div class="box-body">
            <div class="chart">
                <canvas id="barChart" style="height: 230px; width: 510px;" width="510" height="230"></canvas>
            </div>
            <div class="row">
                <div class="col-lg-3" style="text-align:center">
                    <div class="fa fa-stop" style="color:#00fb00"></div> SPAJ Baru
                </div>
                <div class="col-lg-3" style="text-align:center">
                    <div class="fa fa-stop" style="color:#005dff"></div> Jawaban Pending
                </div>
                <div class="col-lg-3" style="text-align:center">
                    <div class="fa fa-stop" style="color:#006a00"></div> Actual
                </div>
                <div class="col-lg-3" style="text-align:center">
                    <div class="fa fa-stop" style="color:#00a65a"></div> Planning
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
}
<script src="~/Scripts/CanvasChart/jquery.min.js"></script>
<script src="~/Scripts/CanvasChart/Chart.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: false,
            filter: false,
            info: false
        });

        //-------------
        //- BAR CHART -
        //-------------
        var result = @Html.Raw(ViewBag.DataPoints);
        var labelChart = ['Week-1', 'Week-2', 'Week-3', 'Week-4', 'Week-5'];
        var areaChartData = [];
        var dataSPAJBaru = [];
        var dataJawabanPending = [];
        var dataActual = [];
        var dataPlanning = [];
        
        for(var i = 0; i < result.length; i++)
        {
            if(result[i].Row_Label == 'SPAJ Baru')
            {
                dataSPAJBaru[0] = result[i].Week_1;
                dataSPAJBaru[1] = result[i].Week_2;
                dataSPAJBaru[2] = result[i].Week_3;
                dataSPAJBaru[3] = result[i].Week_4;
                dataSPAJBaru[4] = result[i].Week_5;
            }
            else if(result[i].Row_Label == 'Jawaban Pending')
            {
                dataJawabanPending[0] = result[i].Week_1;
                dataJawabanPending[1] = result[i].Week_2;
                dataJawabanPending[2] = result[i].Week_3;
                dataJawabanPending[3] = result[i].Week_4;
                dataJawabanPending[4] = result[i].Week_5;
            }
            else if(result[i].Row_Label == 'Actual')
            {
                dataActual[0] = result[i].Week_1;
                dataActual[1] = result[i].Week_2;
                dataActual[2] = result[i].Week_3;
                dataActual[3] = result[i].Week_4;
                dataActual[4] = result[i].Week_5;
            }
            else if(result[i].Row_Label == 'Planning')
            {
                dataPlanning[0] = result[i].Week_1;
                dataPlanning[1] = result[i].Week_2;
                dataPlanning[2] = result[i].Week_3;
                dataPlanning[3] = result[i].Week_4;
                dataPlanning[4] = result[i].Week_5;
            }
        }

        areaChartData =
               {
                   labels: labelChart,
                   datasets: [
            {
                label: 'SPAJ Baru',
                fillColor: 'rgb(0, 251, 0)',
                strokeColor: 'rgb(0, 251, 0)',
                pointColor: 'rgb(0, 251, 0)',
                pointStrokeColor: '#00fb00',
                pointHighlightFill: '#00fb00',
                pointHighlightStroke: 'rgb(0, 251, 0)',
                data: dataSPAJBaru
            },
            {
                label: 'Jawaban Pending',
                fillColor: 'rgb(0, 93, 255)',
                strokeColor: 'rgb(0, 93, 255)',
                pointColor: '#005dff',
                pointStrokeColor: 'rgb(0, 93, 255)',
                pointHighlightFill: '#005dff',
                pointHighlightStroke: 'rgb(0, 93, 255)',
                data: dataJawabanPending
            },
            {
                label: 'Actual',
                fillColor: 'rgb(0, 106, 0)',
                strokeColor: 'rgb(0, 106, 0)',
                pointColor: 'rgb(0, 106, 0)',
                pointStrokeColor: '#006a00',
                pointHighlightFill: '#006a00',
                pointHighlightStroke:  'rgb(0, 106, 0)',
                data: dataActual
            },
            {
                label: 'Planning',
                fillColor: 'rgb(255, 0, 0)',
                strokeColor: 'rgb(255, 0, 0)',
                pointColor: '#ff0000',
                pointStrokeColor: 'rgb(255, 0, 0)',
                pointHighlightFill: '#ff0000',
                pointHighlightStroke: 'rgb(255, 0, 0)',
                data: dataPlanning
            }
                   ]
               }
        
        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var barChart = new Chart(barChartCanvas)
        var barChartData = areaChartData
        barChartData.datasets[1].fillColor = '#00a65a'
        barChartData.datasets[1].strokeColor = '#00a65a'
        barChartData.datasets[1].pointColor = '#00a65a'
        var barChartOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: 'rgba(0,0,0,.05)',
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 1,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 15,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //String - A legend template
            legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
            //Boolean - whether to make the chart responsive
            responsive: true,
            maintainAspectRatio: true
        }

        barChartOptions.datasetFill = false
        barChart.Bar(barChartData, barChartOptions)
    });
</script>