﻿@{
    ViewBag.Title = "Dipcad Claim Holiday Setup";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Date From
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddatefrom" class="input-group">
                        @Html.TextBox("receiveddatefrom", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    Date To
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddateto" class="input-group">
                        @Html.TextBox("receiveddateto", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbRemarks", "Remarks", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbRemarks" })
                    <div class="col-md-10">
                        @Html.TextArea("txRemarks", htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">

                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
            <div class="row" style="margin-top:10px" hidden>

            </div>
        </div>
    </div>

    <!-- Panel Body  -->
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <table width="100%"
                       style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool"
                       class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("No")
                            </th>
                            <th>
                                @Html.DisplayName("Holiday Date")
                            </th>
                            <th>
                                @Html.DisplayName("Remarks")
                            </th>
                            <th>
                                @Html.DisplayName("Date Submitted")
                            </th>
                            <th>
                                @Html.DisplayName("User Submitted")
                            </th>
                            <th>
                                @Html.DisplayName("Action")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int seq = 1;}
                        @foreach (var result in ViewBag.ListHolidaySetup)
                        {
                            <tr>
                                <td>
                                    @seq
                                </td>
                                <td>
                                    @result.HolidayDate
                                </td>
                                <td>
                                    @result.Remarks
                                </td>
                                <td>
                                    @result.DateSubmitted
                                </td>
                                <td>
                                    @result.UserSubmitted
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="View"
                                       href="@Url.Action("Delete","DipcadClaimHolidaySetup",new { Id = result.Id })"
                                       class="btn btn-default">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                            seq++;
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
}

<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: true
        });

    });
    $("#dtreceiveddatefrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dtreceiveddateto").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
</script>