﻿@model ReportingImage.Models.DetailFile_sp_Result
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="box box-default">
        <div class="box-header with-border">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="box-title">Preview Content</h3>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <form role="form">
            <div class="box-body">
                <div class="row" style="margin-bottom:10px">
                    <div class="col-lg-4">
                        @*<object type="@Model.Extension" data="@Url.Content("~/Uploads/"+Model.FILENAME)"
                            width="750" height="500"></object>*@
                        @{
                            var base64 = Convert.ToBase64String(Model.FILEIMAGE);
                            var imgSrc = String.Format("data:" + Model.Extension + ";base64,{0}", base64);
                        }
                        @*<img src='@Url.Content(imgSrc)' style="max-width:100px; max-height:100px;" />*@
                        <object type="@Model.Extension" data="@Url.Content(imgSrc)"
                                width="750" height="500"></object>
                    </div>
                </div>
            </div>
        </form>
    </div>
                            }