﻿@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.PolicyDispatcherViewModels>

@{
    ViewBag.Title = "Policy Information";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-8">
                    @Html.TextBox("policyNumber", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Data Source
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlSource", (SelectList)ViewBag.ddlSource, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" class="fa fa-search btn btn-primary " />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div>
                        <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th>
                                        @Html.DisplayName("Policy Number")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Status")
                                    </th>
                                    <th>
                                        @Html.DisplayName("APE")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Sum Assured")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Medical/Non")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Eskalasi UW")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Remarks Eskalasi")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Owner Case")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Content.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <a data-toggle="tooltip" title="View" href="@Url.Action("DetailImage", "PolicyInformation", new { policyNumber =Model.Content[i].policy_no, ddlSource = TempData["ddlSource"] })" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Content[i].policy_no)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Content[i].status_policy)
                                        </td>
                                        <td>
                                            @String.Format("{0:N2}", Model.Content[i].ape)
                                        </td>
                                        <td>
                                            @String.Format("{0:N2}", Model.Content[i].sum_assured)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Content[i].type_product)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Content[i].is_escalate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Content[i].remark_escalate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Model.Content[i].assigned_to)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
}
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#myModalContent').load(this.href, function () {
                    $('#myModal').modal({
                        keyboard: true
                    }, 'show');
                    bindForm(this);
                });
                return false;
            });
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $('#progress').show();
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#myModal').modal('hide');
                            $('#progress').hide();
                            location.reload();
                        } else {
                            $('#progress').hide();
                            $('#myModalContent').html(result);
                            bindForm();
                        }
                    }
                });
                return false;
            });
        }
    });
</script>
