﻿@model ReportingImage.ViewModels.ListViewModels
@{
    ViewBag.Title = "Detail Image";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm("DetailImage", "PolicyDispatcher"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"> View Image</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="~/PolicyDispatcher?ddlBucket=@ViewBag.Bucket&&ddlStatusSPAJ=@ViewBag.StatusSPAJ&&policyNo=@ViewBag.PolicyNumber&&ddlSource=@ViewBag.DataSource&&sortBy=@ViewBag.SortBy&&sortExpression=@ViewBag.SortExpression" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div>
                        <table width="100%" style="font-size:12px" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>
                                        <INPUT type="checkbox" onchange="checkAll(this)" name="chk[]" />
                                    </th>
                                    <th>
                                        @Html.DisplayName("File Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Document Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Created Date")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Source")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.DetailImageViewModels.Count; ++i)
                                {
                                    <tr>
                                        <td>
                                            @Html.CheckBoxFor(x => x.DetailImageViewModels[i].Checked)
                                            @Html.HiddenFor(x => x.DetailImageViewModels[i].PolicyNumber)
                                        </td>
                                        <td>
                                            <button class="btn btn-default" type="button" name="submitButton" data-toggle="modal" data-target="#@Model.DetailImageViewModels[i].PreviewContentId" title="@Model.DetailImageViewModels[i].FILENAME">
                                                @Model.DetailImageViewModels[i].FILENAME
                                            </button>
                                            @*<a href="@Url.Action("DownloadImage","PolicyDispatcher", new { fileName = Model.DetailImageViewModels[i].FILENAME })"
                                                title="Model.DetailImageViewModels[i].FILENAME">@Model.DetailImageViewModels[i].FILENAME</a>*@
                                            @Html.HiddenFor(x => x.DetailImageViewModels[i].FILENAME)

                                            <div id="@Model.DetailImageViewModels[i].PreviewContentId" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                                <div class="modal-dialog" style="width:800px">

                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" style="background-color:none">Preview Content</h4>

                                                        </div>
                                                        <div class="modal-body">
                                                            @*View Image with Base 64*@
                                                            @*@{
                                                                    var base64 = Convert.ToBase64String(Model.DetailImageViewModels[i].FILEIMAGE);
                                                                    var imgSrc = String.Format("data:" + Model.DetailImageViewModels[i].Extension + ";base64,{0}", base64);
                                                                }
                                                                <object type="@Model.DetailImageViewModels[i].Extension" data="@Url.Content(imgSrc)"
                                                                        width="750" height="500"></object>*@

                                                            @*View Image with file path*@
                                                            @if (Model.DetailImageViewModels[i].Extension == "application/pdf")
                                                            {
                                                                <object type="@Model.DetailImageViewModels[i].Extension" data="@Model.DetailImageViewModels[i].FilePath"
                                                                        width="750" height="500"></object>
                                                            }
                                                            else
                                                            {
                                                                <img src="@Model.DetailImageViewModels[i].FilePath"
                                                                     width="750" height="500" />
                                                            }
                                                            
                                                            @*<iframe src="~/WebForms/ViewImage.aspx"></iframe>*@
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(x => x.DetailImageViewModels[i].DocumentName)
                                            @*@Html.HiddenFor(x => x.DetailImageViewModels[i].DocumentName)*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(x => x.DetailImageViewModels[i].CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(x => x.DetailImageViewModels[i].Source)
                                            @*@Html.HiddenFor(x => x.DetailImageViewModels[i].Source)
                                            @Html.HiddenFor(x => x.DetailImageViewModels[i].FILEIMAGE_temp) 
                                            @Html.HiddenFor(x => x.DetailImageViewModels[i].Extension)*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box-footer">
                        <button id="btnSubmit" type="submit" class="btn btn-default"><i class="fa fa-download"></i> Download Zip File</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.panel-body -->
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: false
        });

    });
    function checkAll(ele) {
        var checkboxes = document.getElementsByTagName('input');
        if (ele.checked) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
        }
    }
</script>
