﻿@model ReportingImage.ViewModels.EscalateViewModels
@{
    <div class="modal-content" style="width:700px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="background-color:none">Form Escalate</h4>

        </div>
        <div class="modal-body">
            <div class="row" style="margin-bottom:10px">

                @Html.LabelFor(model => model.Policy_Number, "Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.TextBoxFor(model => model.Policy_Number, Model.Policy_Number, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                @Html.Label("User", "User", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.DropDownList("ddlUser", (SelectList)ViewBag.Users, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @onchange = "changeUser(this)" })
                    <label id="@Model.ErrorUsers" class="text-danger" hidden="hidden">This field is required.</label>
                    @Html.Hidden("hiddenUser")
                </div>
            </div>
            <div class="row" style="margin-bottom:10px">
                @Html.LabelFor(model => model.Remarks, "Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-lg-4">
                    @Html.EditorFor(model => model.Remarks, new { @class = "form-control", @onkeyup = "keyupRemarks(this)" })
                    @Html.ValidationMessageFor(model => model.Remarks)
                    <label id="@Model.ErrorRemarks" class="text-danger" hidden="hidden">This field is required.</label>
                    @Html.Hidden("hiddenRemarks")
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button id="btnSubmitEscalate" type="submit" class="btn btn-primary" value="@Model.Policy_Number">Escalate</button>
        </div>

    </div>
}
<script type="text/javascript">
    function EscalateUpdate(e) {
        var remark = document.getElementById('hiddenRemarks').value;
        var user = document.getElementById('hiddenUser').value;

        if (user == "") {
            user = document.getElementById('ddlUser').value;
        }

        document.getElementById(@Model.ErrorUsers).style.display = 'none';
        document.getElementById(@Model.ErrorRemarks).style.display = 'none';
        if (user == '' && remark == '') {
            document.getElementById('"@Model.ErrorUsers"').style.display = 'block';
            document.getElementById('"@Model.ErrorRemarks"').style.display = 'block';
            return false;
        }
        else if (user == '') {
            document.getElementById('"@Model.ErrorUsers"').style.display = 'block';
            return false;
        }
        else if (remark == '') {
            document.getElementById('"@Model.ErrorRemarks"').style.display = 'block';
            return false;
        }
        else {
            $.ajax(
    {
        type: 'POST',
        url: '@Url.Action("EscalateUpdate")',
        dataType: 'json',
        data: { policyNo: e.value, user: user, remarks: remark }
    })
        }
    }
</script>