﻿@model IEnumerable<ReportingImage.ViewModels.PolicyDispatcherViewModels>

@{
    ViewBag.Title = "Index";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Bucket
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlBucket", (SelectList)ViewBag.ddlBucket, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px" id="rowStatusSPAJ" hidden="hidden">
                <div class="col-lg-2">
                    Status SPAJ
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlStatusSPAJ", (SelectList)ViewBag.ddlStatusSPAJ, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-8">
                    @Html.TextBox("policyNo", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" class="fa fa-search btn btn-primary " />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <div>
                            <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                                <thead>
                                    <tr> 
                                        <th>
                                        </th>                                    
                                        <th>
                                            @Html.DisplayName("Policy Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Status SPAJ")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Is Clean")
                                        </th>
                                        <th>
                                            @Html.DisplayName("APE")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Sum Assured")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Medical/Non")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Eskalasi UW")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Remarks Eskalasi")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Date Submission")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Owner Case")
                                        </th>
                                        <th hidden="hidden">
                                            @*@Html.DisplayName("Update Date")*@
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>     
                                            <td>
                                                @if (item.is_clean == 1 || item.is_clean == 0)
                                                {
                                                    <button class="btn btn-default" type="button" name="submitButton" value="isclean" data-toggle="modal" data-target="#@item.policy_no_isclean" title="Is Clean">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                }
                                                else if (item.is_clean == 2)
                                                {
                                                    <button class="btn btn-default" type="button" name="submitButton" value="escalate" data-toggle="modal" data-target="#@item.policy_no_escalate" title="@item.title_btn_escalate">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-default" type="button" name="submitButton" value="closed" data-toggle="modal" data-target="#@item.policy_no_closed" title="Closed">
                                                        <i class="fa fa-check"></i>
                                                    </button>
                                                }
                                                <a data-toggle="tooltip" title="View" href="@Url.Action("DetailImage", "PolicyDispatcher", new { ddlBucket = TempData["tempBucket"], policyNo =item.policy_no })" class="btn btn-default"><i class="fa fa-search"></i></a>

                                                <!--Modal Form Closed-->
                                                <div id="@item.policy_no_closed" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content" style="width:700px;">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title" style="background-color:none">Confirmation Closed</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure want closed this data @Html.DisplayFor(modelItem => item.policy_no)
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a data-toggle="tooltip" title="Closed" href="@Url.Action("Closed", "PolicyDispatcher", new { policyNo = item.policy_no })" class="btn btn-primary">Closed</a>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!--Modal Form Escalate-->
                                                <div id="@item.policy_no_escalate" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content" style="width:700px;">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title" style="background-color:none">Form Escalate</h4>

                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" style="margin-bottom:10px">

                                                                    @Html.Label("policyNo", "Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                    <div class="col-lg-4">
                                                                        @Html.TextBox("txbPolicyNoEscalate", item.policy_no, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-bottom:10px">
                                                                    @Html.Label("User", "User", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                    <div class="col-lg-4">
                                                                        @Html.DropDownList("ddlUser", (SelectList)ViewBag.Users, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @onchange = "changeUser(this)" })
                                                                        @Html.Hidden("hiddenUser")
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-bottom:10px">
                                                                    @Html.Label("Remarks", "Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                    <div class="col-lg-4">
                                                                        @Html.TextArea("txbRemarks", new { @class = "form-control", @onkeyup = "keyupRemarks(this)" })
                                                                        @Html.Hidden("hiddenRemarks")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button id="btnSubmitEscalate" type="submit" onclick="return EscalateUpdate(this)" class="btn btn-primary" value="@item.policy_no">Escalate</button>
                                                            </div>
                                                        </div>
                                                        @*@Html.Action("Escalate", "PolicyDispatcher", new { policyNo = item.policy_no})*@
                                                    </div>
                                                </div>

                                                <!--Modal Form IsClean-->
                                                <div id="@item.policy_no_isclean" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                                    <div class="modal-dialog">

                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title" style="background-color:none">Form Clean/Non Clean</h4>

                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="row" style="margin-bottom:10px">

                                                                    @Html.Label("policyNo", "Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                    <div class="col-lg-4">
                                                                        @Html.TextBox("txbPolicyNoIsClean", item.policy_no, new { @class = "form-control", @disabled = "disabled" })
                                                                    </div>
                                                                </div>
                                                                <div class="row" style="margin-bottom:10px">

                                                                    @Html.Label("Is Clean", "Is Clean", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                    <div class="col-lg-4">
                                                                        @Html.DropDownList("ddlIsClean", (SelectList)ViewBag.isClean, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @onchange = "changeIsClean(this)" })
                                                                        @Html.Hidden("hiddenIsClean")
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button id="btnSubmitIsClean" type="submit" onclick="return IsCleanUpdate(this)" class="btn btn-primary" value="@item.policy_no">Submit</button>
                                                            </div>
                                                            @*@Html.Action("IsClean", "PolicyDispatcher", new { policyNo = item.policy_no })*@

                                                        </div>

                                                    </div>
                                                </div>
                                            </td>                                   
                                            <td>
                                                @Html.DisplayFor(modelItem => item.policy_no)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.status_policy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.is_clean_name)
                                            </td>
                                            <td>
                                                @String.Format("{0:N2}", item.ape)
                                            </td>
                                            <td>
                                                @String.Format("{0:N2}", item.sum_assured)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.type_product)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.is_escalate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.remark_escalate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.date_submission)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.assigned_to)
                                            </td>
                                            <td hidden="hidden">
                                                @Html.HiddenFor(modelItem => item.updated_date)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

</div>

                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /.panel-body -->
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            processing: true,
            responsive: true,
            filter: false,
            order: [[10, "desc"]],
            columnDefs: [
            {
                targets: [10],
                visible: false
            }
            ],
            pagingType: "full_numbers",
            paging : false
        });

        HideRowStatusSPAJ();
    });
    function keyupRemarks(e) {
        $('#hiddenRemarks').val(e.value);
    }
    function changeUser(e) {
        $('#hiddenUser').val(e.value);
    }
    function changeIsClean(e) {
        $('#hiddenIsClean').val(e.value);
    }
    function IsCleanUpdate(e) {
        var isClean = document.getElementById('hiddenIsClean').value;
        if (isClean == "")
        {
            isClean = document.getElementById('ddlIsClean').value;
        }
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("IsCleanUpdate")',
                dataType: 'json',
                data: { policyNo: e.value, ddlIsClean: isClean }
            })
    }
    function HideRowStatusSPAJ() {
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("HideRowStatusSPAJ")',
                dataType: 'json',
                success: function (a) {
                    if (a === true) {
                        document.getElementById("rowStatusSPAJ").style.display = 'block';
                    }
                    else if (a === false) {
                        document.getElementById("rowStatusSPAJ").style.display = 'none';
                    }
                }
            })
    }
    function EscalateUpdate(e) {
        var remark = document.getElementById('hiddenRemarks').value;
        var user = document.getElementById('hiddenUser').value;
        if (user == "")
        {
            user = document.getElementById('ddlUser').value;
        }
        $.ajax(
      {
          type: 'POST',
          url: '@Url.Action("EscalateUpdate")',
          dataType: 'json',
          data: { policyNo: e.value, user: user, remarks: remark }
      })
    }
</script>
