﻿@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.PolicyDispatcherViewModels>

@{
    ViewBag.Title = "Policy Dispatcher";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Bucket
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlBucket", (SelectList)ViewBag.ddlBucket, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Data Source
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlSource", (SelectList)ViewBag.ddlSource, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px" id="rowStatusSPAJ" hidden="hidden">
                <div class="col-lg-2">
                    Status SPAJ
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlStatusSPAJ", (SelectList)ViewBag.ddlStatusSPAJ, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-8">
                    @Html.TextBox("policyNo", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" class="fa fa-search btn btn-primary " />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    @Html.ActionLink("Policy Number", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "1", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Status SPAJ", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "2", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Is Clean", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "3", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("APE", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "4", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Sum Assured", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "5", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Medical/Non", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "6", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Eskalasi UW", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "7", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Remarks Eskalasi", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "8", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Date Submission", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "9", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Owner Case", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "10", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Pending Answer Date", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "11", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Content.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @if ((Model.Content[i].is_clean == 1 || Model.Content[i].is_clean == 0) && Model.Content[i].assigned_to == ViewBag.UserNameLogin.ToString())
                                        {
                                            <button class="btn btn-default" type="button" name="submitButton" value="isclean" data-toggle="modal" data-target="#@Model.Content[i].policy_no_isclean" title="Is Clean">
                                                <i class="fa fa-paint-brush"></i>
                                            </button>
                                        }
                                        else if (Model.Content[i].is_clean == 2)
                                        {
                                            if (Model.Content[i].status_policy == "Closed")
                                            {
                                                <button class="btn btn-default" type="button" name="submitButton" value="Open" data-toggle="modal" data-target="#@Model.Content[i].policy_no_closed" title="Open">
                                                    <i class="fa fa-unlock"></i>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-default" type="button" name="submitButton" value="Close" data-toggle="modal" data-target="#@Model.Content[i].policy_no_closed" title="Close">
                                                    <i class="fa fa-lock"></i>
                                                </button>
                                            }
                                        }
                                        @if (ViewBag.Previlage == 5)
                                        {
                                            @*if (ViewBag.Bucket == "My Team" || Model.Content[i].assigned_to == ViewBag.UserNameLogin.ToString() && Model.Content[i].is_clean == 1 || Model.Content[i].is_clean == 2 || Model.Content[i].is_clean.ToString() == "")
                                                {*@
                                            <button class="btn btn-default" type="button" name="submitButton" value="escalate" data-toggle="modal" data-target="#@Model.Content[i].policy_no_escalate" title="@Model.Content[i].title_btn_escalate">
                                                <i class="fa fa-level-up"></i>
                                            </button>
                                            @*}*@
                                        }
                                        <a data-toggle="tooltip" title="View" href="@Url.Action("DetailImage", "PolicyDispatcher" , new { ddlBucket=ViewBag.Bucket, ddlStatusSPAJ=ViewBag.StatusSPAJ,policyNo=Model.Content[i].policy_no, ddlSource=ViewBag.DataSource, sortBy=ViewBag.SortBy, sortExpression=ViewBag.SortExpression })" class="btn btn-default"><i class="fa fa-eye"></i></a>

                                        <!--Modal Form Closed-->
                                        <div id="@Model.Content[i].policy_no_closed" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content" style="width:700px;">
                                                    @if (Model.Content[i].status_policy == "Closed")
                                                    {
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" style="background-color:none">Confirmation Reverse</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to reverse this data @Html.DisplayFor(modelItem => Model.Content[i].policy_no)
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a data-toggle="tooltip" title="Open" href="@Url.Action("Open", "PolicyDispatcher" , new { policyNo=Model.Content[i].policy_no })" class="btn btn-primary">Open</a>

                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title" style="background-color:none">Confirmation Closed</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure you want to close this data @Html.DisplayFor(modelItem => Model.Content[i].policy_no)
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a data-toggle="tooltip" title="Close" href="@Url.Action("Closed", "PolicyDispatcher" , new { policyNo=Model.Content[i].policy_no })" class="btn btn-primary">Closed</a>

                                                        </div>
                                                    }
                                                </div>

                                            </div>
                                        </div>

                                        <!--Modal Form Escalate-->
                                        <div id="@Model.Content[i].policy_no_escalate" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content" style="width:700px;">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title" style="background-color:none">Form Escalate</h4>

                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row" style="margin-bottom:10px">

                                                            @Html.Label("policyNo", "Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-lg-6">
                                                                @Html.DropDownList("ddlPolicy[]", (SelectList)ViewBag.policy, htmlAttributes: new { @class = "js-example-basic-multiple", @multiple = "multiple" })
                                                                @*@Html.TextBox("txbPolicyNoEscalate", Model.Content[i].policy_no, new { @class = "form-control", @disabled = "disabled" })*@
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-bottom:10px">
                                                            @Html.Label("User", "User", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-lg-6">
                                                                @Html.DropDownList("ddlUser", (SelectList)ViewBag.Users, htmlAttributes: new { @class = "js-example-basic-multiple", @onchange = "changeUser(this)" })
                                                                @*@Html.DropDownList("ddlUser", (SelectList)ViewBag.Users, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @onchange = "changeUser(this)" })*@
                                                                @Html.Hidden("hiddenUser")
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-bottom:10px">
                                                            @Html.Label("Remarks", "Remarks", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-lg-6">
                                                                @Html.TextArea("txbRemarks", new { @class = "form-control", @onkeyup = "keyupRemarks(this)" })
                                                                @Html.Hidden("hiddenRemarks")
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="btnSubmitEscalate" type="submit" onclick="return EscalateUpdate(this)" class="btn btn-primary" value="@Model.Content[i].policy_no">Escalate</button>
                                                    </div>
                                                </div>
                                                @*@Html.Action("Escalate", "PolicyDispatcher", new { policyNo = item.policy_no})*@
                                            </div>
                                        </div>

                                        <!--Modal Form IsClean-->
                                        <div id="@Model.Content[i].policy_no_isclean" class="modal fade" role="dialog" style="width:unset ; background-color:transparent">
                                            <div class="modal-dialog">

                                                <!-- Modal content-->
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title" style="background-color:none">Form Clean/Non Clean</h4>

                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row" style="margin-bottom:10px">

                                                            @Html.Label("policyNo", "Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-lg-4">
                                                                @Html.TextBox("txbPolicyNoIsClean", Model.Content[i].policy_no, new { @class = "form-control", @disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-bottom:10px">

                                                            @Html.Label("Is Clean", "Is Clean", htmlAttributes: new { @class = "control-label col-md-2" })
                                                            <div class="col-lg-4">
                                                                @Html.DropDownList("ddlIsClean", (SelectList)ViewBag.isClean, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-", @onchange = "changeIsClean(this)" })
                                                                @Html.Hidden("hiddenIsClean")
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button id="btnSubmitIsClean" type="submit" onclick="return IsCleanUpdate(this)" class="btn btn-primary" value="@Model.Content[i].policy_no">Submit</button>
                                                    </div>
                                                    @*@Html.Action("IsClean", "PolicyDispatcher", new { policyNo = item.policy_no })*@

                                                </div>

                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].policy_no)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].status_policy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].is_clean_name)
                                    </td>
                                    <td>
                                        @String.Format("{0:N2}", Model.Content[i].ape)
                                    </td>
                                    <td>
                                        @String.Format("{0:N2}", Model.Content[i].sum_assured)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].type_product)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].is_escalate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].remark_escalate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].date_submission)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].assigned_to)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].pa_date)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                        Showing @String.Format("{0:C0}", Model.CurrentPage).Replace("$", "") to @Model.PageSize of @String.Format("{0:C0}", Model.TotalRecords).Replace("$", "") entries
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                        <ul class="pagination">
                            @for (int j = Model.CurrentPage - 3; j <= Model.TotalPages; j++)
                            {
                                if (j > 0)
                                {
                                    var pg = Model.CurrentPage == j ? "active" : "";
                                    if (j == Model.CurrentPage - 3)
                                    {
                                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                            <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=1&ddlBucket=@ViewBag.Bucket&ddlStatusSPAJ=@ViewBag.StatusSPAJ&policyNo=@ViewBag.PolicyNumber&ddlSource=@ViewBag.DataSource&sortBy=@ViewBag.SortBy&sortExpression=@ViewBag.SortExpression">&laquo;</a>
                                        </li>
                                    }
                                    <li class="paginate_button @pg" aria-controls="dataTables-example" tabindex="0">
                                        <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=@j&ddlBucket=@ViewBag.Bucket&ddlStatusSPAJ=@ViewBag.StatusSPAJ&policyNo=@ViewBag.PolicyNumber&ddlSource=@ViewBag.DataSource&sortBy=@ViewBag.SortBy&sortExpression=@ViewBag.SortExpression">@String.Format("{0:C0}", j).Replace("$", "")</a>
                                    </li>
                                    if (j == Model.CurrentPage + 3)
                                    {
                                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                            <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=@Model.TotalPages&ddlBucket=@ViewBag.Bucket&ddlStatusSPAJ=@ViewBag.StatusSPAJ&policyNo=@ViewBag.PolicyNumber&ddlSource=@ViewBag.DataSource&sortBy=@ViewBag.SortBy&sortExpression=@ViewBag.SortExpression">&laquo;</a>
                                        </li>
                                        break;
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            processing: true,
            responsive: true,
            filter: false,
            pagingType: "full_numbers",
            paging: false,
            info: false,
            ordering: false
        });

        HideRowStatusSPAJ();
    });
    function keyupRemarks(e) {
        $('#hiddenRemarks').val(e.value);
    }
    function changeUser(e) {
        $('#hiddenUser').val(e.value);
    }
    function changeIsClean(e) {
        $('#hiddenIsClean').val(e.value);
    }
    function IsCleanUpdate(e) {
        var isClean = document.getElementById('hiddenIsClean').value;
        if (isClean == "") {
            isClean = document.getElementById('ddlIsClean').value;
        }
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("IsCleanUpdate")',
                dataType: 'json',
                data: { policyNo: e.value, ddlIsClean: isClean }
            })
    }

    function HideRowStatusSPAJ() {
        $.ajax(
            {
                type: 'POST',
                url: '@Url.Action("HideRowStatusSPAJ")',
                dataType: 'json',
                success: function (a) {
                    if (a === true) {
                        document.getElementById("rowStatusSPAJ").style.display = 'block';
                    }
                    else if (a === false) {
                        document.getElementById("rowStatusSPAJ").style.display = 'none';
                    }
                }
            })
    }
    function EscalateUpdate(e) {
        var remark = document.getElementById('hiddenRemarks').value;
        var user = document.getElementById('hiddenUser').value;
        if (user == "") {
            user = document.getElementById('ddlUser').value;
        }
        $.ajax(
      {
          type: 'POST',
          url: '@Url.Action("EscalateUpdate")',
          dataType: 'json',
          data: { policyNo: $('#ddlPolicy__').val(), user: user, remarks: remark }
      })
    }
</script>
