﻿@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.PolicyDispatcherViewModels>

@{
    ViewBag.Title = "Policy Dispatcher";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    Bucket
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlBucket", (SelectList)ViewBag.ddlBucket, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Data Source
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlSource", (SelectList)ViewBag.ddlSource, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px" id="rowStatusSPAJ" hidden="hidden">
                <div class="col-lg-2">
                    Status SPAJ
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlStatusSPAJ", (SelectList)ViewBag.ddlStatusSPAJ, htmlAttributes: new { @class = "form-control", @placeholder = "-Select-" })
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-8">
                    @Html.TextBox("policyNo", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" class="fa fa-search btn btn-primary " />
                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    @Html.ActionLink("Policy Number", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "1", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Status SPAJ", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "2", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                @*
                                    <th>
                                        @Html.ActionLink("Is Clean", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "3", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                    </th>*@
                                <th>
                                    @Html.ActionLink("APE", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "4", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Sum Assured", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "5", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Medical/Non", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "6", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                @*
                                    <th>
                                        @Html.ActionLink("Eskalasi UW", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "7", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                    </th>*@
                                @*
                                    <th>
                                        @Html.ActionLink("Remarks Eskalasi", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "8", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                    </th>*@
                                <th>
                                    @Html.ActionLink("Date Submission", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "9", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                <th>
                                    @Html.ActionLink("Owner Case", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "10", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                </th>
                                @*
                                    <th>
                                        @Html.ActionLink("Pending Answer Date", "Index", new { ddlBucket = ViewBag.Bucket, ddlStatusSPAJ = ViewBag.StatusSPAJ, policyNo = ViewBag.PolicyNumber, ddlSource = ViewBag.DataSource, sortBy = "11", sortExpression = (ViewBag.SortExpression.ToString() == "ASC") ? "DESC" : "ASC", pageNumber = ViewBag.PageNumber })
                                    </th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Content.Count; i++)
                            {
                                <tr>
                                    <td>                                        
                                        <a data-toggle="tooltip" title="View" href="@Url.Action("DetailImage", "PolicyDispatcher" , new { ddlBucket=ViewBag.Bucket, ddlStatusSPAJ=ViewBag.StatusSPAJ,policyNo =Model.Content[i].policy_no, ddlSource=ViewBag.DataSource, sortBy=ViewBag.SortBy, sortExpression=ViewBag.SortExpression })" class="btn btn-default"><i class="fa fa-eye"></i></a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].policy_no)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].status_policy)
                                    </td>

                                    <td>
                                        @String.Format("{0:N2}", Model.Content[i].ape)
                                    </td>
                                    <td>
                                        @String.Format("{0:N2}", Model.Content[i].sum_assured)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].type_product)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].date_submission)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Content[i].assigned_to)
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite">
                        Showing @String.Format("{0:C0}", Model.CurrentPage).Replace("$", "") to @Model.PageSize of @String.Format("{0:C0}", Model.TotalRecords).Replace("$", "") entries
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                        <ul class="pagination">
                            @for (int j = Model.CurrentPage - 3; j <= Model.TotalPages; j++)
                            {
                                if (j > 0)
                                {
                                    var pg = Model.CurrentPage == j ? "active" : "";
                                    if (j == Model.CurrentPage - 3)
                                    {
                                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                            <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=1&ddlBucket=@ViewBag.Bucket&ddlStatusSPAJ=@ViewBag.StatusSPAJ&policyNo=@ViewBag.PolicyNumber&ddlSource=@ViewBag.DataSource&sortBy=@ViewBag.SortBy&sortExpression=@ViewBag.SortExpression">&laquo;</a>
                                        </li>
                                    }
                                    <li class="paginate_button @pg" aria-controls="dataTables-example" tabindex="0">
                                        <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=@j&ddlBucket=@ViewBag.Bucket&ddlStatusSPAJ=@ViewBag.StatusSPAJ&policyNo=@ViewBag.PolicyNumber&ddlSource=@ViewBag.DataSource&sortBy=@ViewBag.SortBy&sortExpression=@ViewBag.SortExpression">@String.Format("{0:C0}", j).Replace("$", "")</a>
                                    </li>
                                    if (j == Model.CurrentPage + 3)
                                    {
                                        <li class="paginate_button" aria-controls="dataTables-example" tabindex="0">
                                            <a href="~/@ViewContext.RouteData.Values["Controller"].ToString()/@ViewContext.RouteData.Values["Action"].ToString()?pageNumber=@Model.TotalPages&ddlBucket=@ViewBag.Bucket&ddlStatusSPAJ=@ViewBag.StatusSPAJ&policyNo=@ViewBag.PolicyNumber&ddlSource=@ViewBag.DataSource&sortBy=@ViewBag.SortBy&sortExpression=@ViewBag.SortExpression">&laquo;</a>
                                        </li>
                                        break;
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                processing: true,
                responsive: true,
                filter: false,
                pagingType: "full_numbers",
                paging: false,
                info: false,
                ordering: false
            });

            HideRowStatusSPAJ();
        });



function HideRowStatusSPAJ() {
$.ajax(
    {
        type: 'POST',
        /**/
        url: '@Url.Action("HideRowStatusSPAJ")',
        /**/
        dataType: 'json',
        success: function (a) {
            if (a === true) {
                document.getElementById("rowStatusSPAJ").style.display = 'block';
            }
            else if (a === false) {
                document.getElementById("rowStatusSPAJ").style.display = 'none';
            }
        }
    })
}

