﻿@model ReportingImage.ViewModels.DetailImageViewModels
@{
    var base64 = Convert.ToBase64String(Model.FILEIMAGE);
    var imgSrc = String.Format("data:" + Model.Extension + ";base64,{0}", base64);
}
@*<img src='@Url.Content(imgSrc)' style="max-width:100px; max-height:100px;" />*@
<object type="@Model.Extension" data="@Url.Content(imgSrc)"
        width="750" height="500"></object>