﻿@model IEnumerable<ReportingImage.Models.PrivilegeView>

@{
    ViewBag.Title = "Privilege";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-8">
                @*<i class="fa fa-bar-chart-o fa-fw"></i>*@
                <a data-toggle="tooltip" title="Add Privilege" href="@Url.Action("Create", "Privilege", new {  })" class="btn btn-default"><i class="fa fa-plus"></i> Add Privilege</a>
            </div>
            <div class="col-lg-4" style="text-align:right">

                @*<input type="submit" value="Add Privilege" class="btn btn-info" name="submitButton" />*@
            </div>

        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">

            <div class="col-lg-12">
                <table width="100%" style="width: 100%;font-size:10px" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Privilege")
                            </th>
                            <th>
                                @Html.DisplayName("Create Date")
                            </th>
                            <th>
                                @Html.DisplayName("Create By")
                            </th>
                            <th>
                                @Html.DisplayName("Update Date")
                            </th>
                            <th>
                                @Html.DisplayName("Update By")
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.previlage_name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.created_by)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.updated_by)
                                </td>
                                <td>
                                    <a data-toggle="tooltip" title="Edit" href="@Url.Action("Edit", "Privilege", new { id=item.id })" class="btn btn-success"><i class="fa fa-edit"></i></a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>

    </div>
    <!-- /.panel-body -->
</div>
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
</script>