﻿@model ReportingImage.ViewModels.PagedList<ReportingImage.ViewModels.DipcadClaimOpenViewModels>

@{
    ViewBag.Title = "Dipcad Claim Reminder List";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">

        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Created Date From
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddatefrom" class="input-group">
                        @Html.TextBox("receiveddatefrom", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    Created Date To
                </div>
                <div class="col-lg-4">
                    <div id="dtreceiveddateto" class="input-group">
                        @Html.TextBox("receiveddateto", null, new { @placeholder = "Policy Number", @class = "form-control", @type = "date", @width = "100%" })
                        <span class="input-group-addon add-on ">
                            <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-lg-2">
                    Policy Number
                </div>
                <div class="col-lg-8">
                    @Html.TextBox("policyNumber", null, new { @placeholder = "Policy Number", @class = "form-control" })
                </div>
                <div class="col-lg-2">
                    <input type="submit" value="Search" class="fa fa-search btn btn-primary" style="width:100%" />
                </div>
            </div>
            <div class="row" style="margin-top:10px" hidden>
                <!-- Ryan Feb 21 : diminta agar ditutup -->
                <div class="col-lg-2">
                    Category
                </div>
                <div class="col-lg-8">
                    @Html.DropDownList("ddlCategory", (SelectList)ViewBag.ddlCategory, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --" })
                </div>
                @*<div class="col-lg-2">
                        <input type="submit" value="Search" class="fa fa-search btn btn-primary" />
                    </div>*@
            </div>
        </div>

        <!-- Panel Body  -->
        <div class="panel-body">
            <div class="row">

                <div class="col-lg-12">
                    <table width="100%"
                           style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool"
                           class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("No")
                                </th>
                                <th>
                                    @Html.DisplayName("Action")
                                </th>
                                <th>
                                    @Html.DisplayName("Case ID")
                                </th>
                                <th>
                                    @Html.DisplayName("Policy Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Claim Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Source")
                                </th>
                                <th>
                                    @Html.DisplayName("Work Type")
                                </th>
                                <th>
                                    @Html.DisplayName("SLA Claim")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Trans Status")
                                </th>
                                <th>
                                    @Html.DisplayName("RLS Captured Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Received Date")
                                </th>
                                <th>
                                    @Html.DisplayName("VIP")
                                </th>
                                <th>
                                    @Html.DisplayName("Remarks")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int seq = 1;}
                            @foreach (var result in ViewBag.ListPolicyPool)
                            {
                                <tr style="background-color:@result.ColorSLA">
                                    <td>
                                        @seq
                                    </td>
                                    <td>
                                        <a data-toggle="tooltip" title="View"
                                           href="@Url.Action("DetailClient","DipcadClaimReminder",new { caseid = result.CaseId })"
                                           class="btn btn-default">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a data-toggle="tooltip" title="Image"
                                           href="@Url.Action("ImagesClient","DipcadClaimReminder",new { case_id = result.CaseId })"
                                           class="btn btn-default">
                                            <i class="fa fa-file-image-o"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @result.CaseId
                                    </td>
                                    <td>
                                        @result.PolicyNo
                                    </td>
                                    <td>
                                        @result.ClaimNo
                                    </td>
                                    <td>
                                        @result.Source
                                    </td>
                                    <td>
                                        @result.WorkType
                                    </td>
                                    <td>
                                        @result.SLAClaim
                                    </td>
                                    <td>
                                        @result.RLSTRANS
                                    </td>
                                    <td>
                                        @result.RLSCaptureDate
                                    </td>
                                    <td>
                                        @result.CreatedDate
                                    </td>
                                    <td>
                                        @result.ReceivedDate
                                    </td>
                                    <td>
                                        @result.VIP
                                    </td>
                                    <td>
                                        @result.Message
                                    </td>
                                </tr>
                                seq++;
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true,
            paging: true
        });

        var dttbl = '@Url.Content("~/")Datatable';
    });

    $("#dtreceiveddatefrom").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });

    $("#dtreceiveddateto").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
</script>
