﻿@model ReportingImage.Models.zMaster_Product
@{
    ViewBag.Title = "Create";
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-6"> Add Product</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="~/Product" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>


        </div>
        <div class="panel-body">
            @*@Html.AntiForgeryToken()*@

            <div class="form-horizontal box-body">
                <hr />

                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="form-group">
                    @Html.LabelFor(model => model.product_code, "Product Code", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.product_code, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.product_code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.product_name, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.product_name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.type_product, "Type Product", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.type_product, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.type_product, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.payment_method, "Payment Method", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.payment_method, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.payment_method, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>

}
<script src="~/Scripts/CountDown/countdown.login.js"></script>