﻿@model ReportingImage.ViewModels.DipcadClaimOpenViewModels

@{
    ViewBag.Title = "Open Detail Client";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning">
        <p><strong>Error:</strong> @TempData["Error"].ToString()</p>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["Success"].ToString()
    </div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">

        <!--HEADING PANEL-->
        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">Detail Client</div>
                <div class="col-lg-6" style="text-align:right">
                    <a data-toggle="modal" href="@Url.Action("Index","DipcadClaimCompleted")" class="btn btn-primary"><i class="fa fa-backward"></i> Back </a>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row" style="margin-top:10px">
                <div class="form-group">

                    @Html.LabelFor(model => model.CASE_ID, "Case ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CASE_ID, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CASE_ID, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.RECLAIMNO, "Re-Claim No", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.RECLAIMNO, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.RECLAIMNO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.PRIORITY, "Priority", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("PRIORITY", (SelectList)ViewBag.dllPriority, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --", @disabled = "disabled" })
                    </div>
                    @Html.LabelFor(model => model.CLAIMNO, "Claim No", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CLAIMNO, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CLAIMNO, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.POLICY_NO, "Policy Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.POLICY_NO, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.POLICY_NO, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.CLAIM_AMOUNT, "Claim Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CLAIM_AMOUNT, new { @class = "form-control", @type = "number", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CLAIM_AMOUNT, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.OWNER_NAME, "Owner Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.OWNER_NAME, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.OWNER_NAME, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.INCURED_DATE, "Incured Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div id="dtIncDate" class="input-group">
                            @*@Html.TextBox("txDataReminder", null, new { @placeholder = "Reminder", @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.INCURED_DATE, htmlAttributes: new { @placeholder = "Incured Date", @class = "form-control", @disabled = "disabled" })
                            <span class="input-group-addon add-on ">
                                <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.OWNER_DOB, "Owner DOB cek", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.OWNER_DOB, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.OWNER_DOB, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.HOLDER, "Policy Holder", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.HOLDER, new { @class = "form-control", @readonly = "readonly" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.MEMBER_NO, "Member/Insured Number", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.MEMBER_NO, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.MEMBER_NO, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.OWNER_ID, "Owner ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.OWNER_ID, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.OWNER_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.PRODUCT_CODE, "Product Code", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.PRODUCT_CODE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PRODUCT_CODE, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MEMBER_NAME, "Member/Insured Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.MEMBER_NAME, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.MEMBER_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.PRIMARY_DOC, "Primary Doc", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.PRIMARY_DOC, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PRIMARY_DOC, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MEMBER_ID, "Member/Insured ID", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.MEMBER_ID, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.MEMBER_ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.PRODUCT_CODE, "Product Code", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.PRODUCT_CODE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PRODUCT_CODE, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.DOC_SOURCE_TYPE, "Document Source Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DOC_SOURCE_TYPE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DOC_SOURCE_TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.TSA, "TSA", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.TSA, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.TSA, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PRODUCT_NAME, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.PRODUCT_NAME, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PRODUCT_NAME, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.RECEIVED_DATE, "Received Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.RECEIVED_DATE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.RECEIVED_DATE, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.PRODUCT_TYPE, "Product Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.PRODUCT_TYPE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.PRODUCT_TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.CREATE_DATE, "Created Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CREATE_DATE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CREATE_DATE, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.DOCUMENT_TITLE, "", htmlAttributes: new { @class = "control-label col-md-2" })
                    @*@Html.LabelFor(model => model.DOCUMENT_TITLE, "Document Title", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DOCUMENT_TITLE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DOCUMENT_TITLE, "", new { @class = "text-danger" })
                    </div>*@
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.DATE_COMPLETE, "Completed Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DATE_COMPLETE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DATE_COMPLETE, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.DOCUMENT_TYPE, "", htmlAttributes: new { @class = "control-label col-md-2" })
                    @*@Html.LabelFor(model => model.DOCUMENT_TYPE, "Document Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.DOCUMENT_TYPE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.DOCUMENT_TYPE, "", new { @class = "text-danger" })
                    </div>*@
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbSLA", "SLA", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @*@Html.Label("SLA", Model.AGINGSLA + " / " + Model.SLA, htmlAttributes: new { @class = "control-label" })*@
                        <b>@ViewBag.SLA</b>
                    </div>
                    @Html.LabelFor(model => model.CHANNEL, "Channel", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CHANNEL, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CHANNEL, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbVIP", "VIP", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @*@Html.Label("SLA", Model.AGINGSLA + " / " + Model.SLA, htmlAttributes: new { @class = "control-label" })*@
                        <b>@ViewBag.VIP</b>
                    </div>
                    @Html.LabelFor(model => model.RLS_CAPTURE_DATE, "RLS Captured Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.RLS_CAPTURE_DATE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.RLS_CAPTURE_DATE, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.LabelFor(model => model.WORKTYPE, "Work Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("ddlWorktype", (SelectList)ViewBag.dllWorktype, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --", @disabled = "disabled" })
                        @*@Html.ValidationMessageFor(model => model.WORKTYPE, "", new { @class = "text-danger" })*@
                    </div>
                    @Html.LabelFor(model => model.RLS_TRANS, "RLS Transaction Status", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.RLS_TRANS, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.RLS_TRANS, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>

            <div class="row" style="margin-top:10px">

                <div class="form-group">
                    @Html.LabelFor(model => model.CASE_TYPE, "Case Type", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.CASE_TYPE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CASE_TYPE, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.SOURCE, "Source", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.SOURCE, new { @class = "form-control", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.SOURCE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbRemarks3rd", "Audit", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbRemarks" })
                    @*<div class="col-md-10">
                    @Html.TextAreaFor(model => model.REMARKS, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "width:100%;height:100px" })
                </div>*@
                    <table width="100%" style="width:100%;font-size:10px" role="grid" aria-describedby="dataTables-example_pool"
                           class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Action</th>
                                <th>User</th>
                                <th>Reason</th>
                                <th>Comments</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int row = 0; row < Model.AuditJobHistories.Count; row++)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => Model.AuditJobHistories[row].Date)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.AuditJobHistories[row].Action)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.AuditJobHistories[row].User)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.AuditJobHistories[row].Reason)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.AuditJobHistories[row].Comment)</td>
                                    <td>@Html.DisplayFor(modelItem => Model.AuditJobHistories[row].Value)</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>

    <!--Conditional-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row" style="margin-top:10px">
                <div class="col-lg-6">Conditional</div>
                @*<div class="col-lg-6" style="text-align:right">
                        <a data-toggle="modal" href="~/POSOpen" class="btn btn-primary" target="_blank"><i class="fa fa-file-image-o"></i> See Image </a>
                    </div>*@
            </div>
        </div>
        <div class="panel-body">

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbAssignTo", "Assign To", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("AssignTo", (SelectList)ViewBag.dllAssignTo, new
                   {
                       @class = "form-control"
                       ,
                       @onchange = "AssignChange(this)"
                   })
                    </div>
                    @Html.Label("lbIsPaid", "Ready To Pay", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.CheckBoxFor(model => model.IS_PAID, new { @class = "form-check", @onchange = "checkIsPaid(this)" })
                        @*@(Convert.ToBoolean(String.IsNullOrWhiteSpace(Model.IS_PAID) ? 0 : Convert.ToInt16(Model.IS_PAID)))*@
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @*@Html.Label("lbAssignToOtherDiv", "Assign To Other Div", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    @Html.Label("lbAssignToOtherDiv", "", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @*@Html.DropDownList("AssignToOtherDiv", (SelectList)ViewBag.dllOtherDiv, new
                    {
                        @class = "form-control"
                        ,
                        @onchange = "AssignOtherDivChange(this)"
                    })*@
                    </div>
                    @Html.Label("lbCompliance", "Check to Compliance", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.CheckBoxFor(model => model.IS_COMPLIANCE, new { @class = "form-check", @onchange = "checkCompliance(this)" })
                    </div>
                </div>
            </div>

            <!--Remarks Here-->
            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbRemarks", "Remarks", htmlAttributes: new { @class = "control-label col-md-2", @id = "lbRemarks" })
                    <div class="col-md-10">
                        @Html.TextArea("txRemarks", htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px", @disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbComplete", "Mark as Complete", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.CheckBoxFor(model => model.IS_COMPLETE, htmlAttributes: new
                   {
                       @class = "form-check"
                       ,
                       @onchange = "checkComplete(this)"
                       ,
                       @disabled = "disabled"
                   })
                    </div>
                    @Html.LabelFor(model => model.PENDING_REASON, "Reason Pending", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownList("dllPenReason", (SelectList)ViewBag.dllPenReasonList, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --", @disabled = "disabled" })
                        @*@Html.ValidationMessageFor(model => model.WORKTYPE, "", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbPending", "Mark as Pending", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.CheckBoxFor(model => model.IS_PENDING, htmlAttributes: new
                       {
                           @class = "form-check"
                           ,
                           @onchange = "checkPending(this)"
                       })
                    </div>
                    @Html.Label("lbComplete", "Request Pending Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div id="dtRequestPenDate" class="input-group">
                            @*@Html.TextBox("txDataReminder", null, new { @placeholder = "Reminder", @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.REQPENDATE, "{0:yyyy-MM-dd}", htmlAttributes: new { @placeholder = "RequestPenDate", @class = "form-control" })
                            <span class="input-group-addon add-on ">
                                <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @*@Html.LabelFor(model => model.REJECT_REASON, "Reason Reject", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("dllRejectReason", (SelectList)ViewBag.dllRejectReason, htmlAttributes: new { @class = "form-control", @placeholder = "-- Select --" })
                </div>*@
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbPendingLetter", "Pending Letter", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.TextAreaFor(model => model.PENDING_LETTER, htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px" })
                    </div>
                    @Html.Label("lbFinishPenDate", "Finish Pending Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div id="dtFinishPenDate" class="input-group">
                            @*@Html.TextBox("txDataReminder", null, new { @placeholder = "Reminder", @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.FINISHPENDATE, "{0:yyyy-MM-dd}", htmlAttributes: new { @placeholder = "FinishPenDate", @class = "form-control" })
                            <span class="input-group-addon add-on ">
                                <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbReject", "Mark as Reject", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.CheckBoxFor(model => model.IS_REJECT, htmlAttributes: new { @class = "form-check", @onchange = "checkReject(this)" })
                    </div>
                    @Html.Label("lbReminderPenDate", "Reminder Pending Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div id="dtReminderPenDate" class="input-group">
                            @*@Html.TextBox("txDataReminder", null, new { @placeholder = "Reminder", @class = "form-control" })*@
                            @Html.TextBoxFor(model => model.REMINDERPENDATE, "{0:yyyy-MM-dd}", htmlAttributes: new { @placeholder = "ReminderPenDate", @class = "form-control" })
                            <span class="input-group-addon add-on ">
                                <i data-time-icon="fa fa-calendar" data-date-icon="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="form-group">
                    @Html.Label("lbRejectLetter", "Reject Letter", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4" style="text-align:left;">
                        @Html.TextAreaFor(model => model.REJECT_LETTER, htmlAttributes: new { @class = "form-control", @style = "width:100%;height:100px" })
                    </div>
                </div>
            </div>

            <div class="form-group" style="margin-top:10px; margin-bottom:20px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-primary" disabled />
                </div>
            </div>
        </div>



    </div>


}
<script src="~/Scripts/CountDown/countdown.login.js"></script>
<script>
    


    $("#dtRequestPenDate").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
    //$("#dtRequestPenDate").data("DateTimePicker").disable();


    $("#dtFinishPenDate").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
    //$("#dtFinishPenDate").data("DateTimePicker").disable();

    $("#dtIncDate").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    });
    //$("#dtIncDate").data("DateTimePicker").disable();

    $("#dtReminderPenDate").datetimepicker({
        viewMode: 'days',
        format: 'yyyy-MM-dd',
        changeMonth: true,
        changeYear: false
    }).on('changeDate', function () {
        $('.bootstrap-datetimepicker-widget.dropdown-menu').hide();
    });
</script>
<script>
    window.addEventListener('load', function () {
        var chkCom = document.getElementById("IS_COMPLETE");
        //var dateRem = document.getElementById("dtReminder");
        if(chkCom.checked)
        {
            //dateRem.style.visibility = "visible";
        }
        else
        {
            //dateRem.style.visibility = "hidden";
        }
    });
    function AssignChange(elm) {
        var remarksfr = @Html.Raw(Json.Encode(Model.REMARKS));
        var remarks = document.getElementById("REMARKS");
        var lbremark = document.getElementById("lbRemarks");
        var chkCom = document.getElementById("IS_COMPLETE");
        //var dateRem = document.getElementById("dtReminder");

        //document.getElementById("cbCompliance").checked = false;
        ////document.getElementById("cbNBUW").checked = false;

        //if (elm.selectedIndex != 0) {
        //    //Ryan : tetap dipisah Remarks biasa dan Remarks 3rd party
        //    //remarks.value = "";
        //    //remarks.readOnly = false;
        //    //lbremark.innerHTML = "Remarks";

        //    if(chkCom.checked == true)
        //    {
        //        chkCom.checked = false;
        //        //dateRem.style.visibility = "hidden";
        //    }
        //}

    };
    function AssignOtherDivChange(elm) {
        var remarksfr = @Html.Raw(Json.Encode(Model.REMARKS));
        var remarks = document.getElementById("REMARKS");
        var lbremark = document.getElementById("lbRemarks");
        var chkCom = document.getElementById("IS_COMPLETE");
        //var dateRem = document.getElementById("dtReminder");

        document.getElementById("cbCompliance").checked = false;
        //document.getElementById("cbNBUW").checked = false;

        if (elm.selectedIndex != 0) {
            //Ryan : tetap dipisah Remarks biasa dan Remarks 3rd party
            //remarks.value = "";
            //remarks.readOnly = false;
            //lbremark.innerHTML = "Remarks";

            if(chkCom.checked == true)
            {
                chkCom.checked = false;
                //dateRem.style.visibility = "hidden";
            }
        }

    };
    function checkComplete(elm) {
        //var dateRem = document.getElementById("dtReminder");
        var chkassign = document.getElementById("AssignTo");
        var lbremark = document.getElementById("lbRemarks");
        var remarksfr = @Html.Raw(Json.Encode(Model.REMARKS));
        var remarks = document.getElementById("REMARKS");

        if (!elm.checked) {
            elm.val = true;
            //document.getElementById("IS_PENDING").checked = true;
            //dateRem.style.visibility = "hidden";
        }
        else {
            elm.val = false;
            document.getElementById("IS_PENDING").checked = false;
            document.getElementById("IS_REJECT").checked = false;
            //dateRem.style.visibility = "visible";

            //if(chkassign.selectedIndex != 0)
            //{
            //    chkassign.selectedIndex = 0;
            //    //lbremark.innerHTML = "Remarks (3rd Party)";
            //    //remarks.value = remarksfr;
            //    //remarks.readOnly = true;
            //}
        }
    };
    function checkPending(elm) {
        //var dateRem = document.getElementById("dtReminder");
        var chkassign = document.getElementById("AssignTo");
        var lbremark = document.getElementById("lbRemarks");
        var remarksfr = @Html.Raw(Json.Encode(Model.REMARKS));
        var remarks = document.getElementById("REMARKS");
        if (!elm.checked) {
            elm.val = true;
            //document.getElementById("IS_COMPLETE").checked = true;
            //dateRem.style.visibility = "hidden";
        }
        else {
            elm.val = false;
            document.getElementById("IS_COMPLETE").checked = false;
            //document.getElementById("IS_REJECT").checked = false;
            //dateRem.style.visibility = "visible";

            //if(chkassign.selectedIndex != 0)
            //{
            //    chkassign.selectedIndex = 0;
            //}
        }
    };
    function checkCompliance(elm) {
        var chkCpl = document.getElementById("cbCompliance");
        //var tglNBUW = document.getElementById("cbNBUW");
        var chkComplete = document.getElementById("IS_COMPLETE");
        //var dateRem = document.getElementById("dtReminder");
        var chkassign = document.getElementById("AssignTo");

        if(chkCpl.checked)
        {
            //tglNBUW.checked = false;
            //chkComplete.checked = true;
            //if(chkassign.selectedIndex != 0)
            //{
            //    chkassign.selectedIndex = 0;
            //}
        }

        if (chkComplete.checked) {
            //dateRem.style.visibility = "visible";
        }
        else {
            //dateRem.style.visibility = "hidden";
        }
    };

    function checkReject(elm) {
        var chkComplete = document.getElementById("IS_COMPLETE");

        if (elm.checked) {
            elm.val = true;
            //document.getElementById("IS_PENDING").checked = false;
            //document.getElementById("IS_COMPLETE").checked = false;
        } else {
            elm.val = false;
        }

    };

    function checkIsPaid(elm) {
        //alert("1");
        if (elm.checked) {
            elm.val = true;
            document.getElementById("IS_COMPLETE").checked = true;
            document.getElementById("IS_PENDING").checked = false;
        }
        else {
            elm.val = false;
        }
    };
</script>